@use '../../root' as *;
@use '../../utilities' as *;

.wcu1 {
  background-color: $white;
  &-progress {
    padding: 50px;
    border-radius: 5px;
    border: 1px solid var(--insurance-200, #E3E3E3);
    background: var(--100, #FCF9EB);
    @include breakpoint (max-md){
      padding: 20px;
    }
  }
  &-info {
    &__title {
      color: var(--900, #010003);
      font-family: Marcellus;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px; /* 128.571% */
      padding-bottom: 15;
    }
    &__desc {
      color: var(--900, #010003);
      font-feature-settings: 'liga' off, 'clig' off;
      font-family: Urbanist;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px; /* 137.5% */
      opacity: 0.75;
    }
  }
}
  