@use '../../root' as *;
@use '../../utilities' as *;

.wcu3 {
  &-box {
    display: flex;
    gap: 30px;
    padding: 40px;
    border-radius: 5px;
    background: var(--White, #FFF);
    &-content {
      &__name {
        color: var(--900, #010003);
        font-family: Marcellus;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px; /* 125% */
        padding-bottom: 10px;
      }
      &__label {
        color: var(--900, #010003);
        font-family: Urbanist;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 137.5% */
        padding-bottom: 30px;        
      }
      &__desc {
        color: var(--900, #010003);
        font-family: Urbanist;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 137.5% */
      }
      &-progress {
        padding-top: 60px;
        @include breakpoint (max-xxl){
          padding-top: 30px;
        }
        &__title {
          color: var(--900, #010003);
          font-family: Marcellus;
          font-size: 28px;
          font-style: normal;
          font-weight: 400;
          line-height: 36px; /* 128.571% */
        }
      }
    }
    &-thumb {
      flex: none;
      @include breakpoint (max-xl){
        display: none;
      }
    }
  }
}
  