@use '../../root' as *;
@use '../../utilities' as *;

.testimonial1 {
  .section-top {
    padding-bottom: 105px;
    @include breakpoint (max-xxl){
      padding-bottom: 60px;
    }
    @include breakpoint (max-lg){
      padding-bottom: 40px;
    }
    @include breakpoint (max-sm){
      padding-bottom: 30px;
    }
  }
  .swiper-wrapper {
    display: flex;
    align-items: center;
  }
  .review-content{
    height: 250px;
    display: flex;
    align-items: center;
  }

  .swiper-slide.swiper-slide-active .testimonial1-card{
    transform: scale(1.08);
    border: 2px solid $theme-color;

    @include breakpoint (max-md){
      transform: scale(1);
    }
  }

  .sc-testimonial-slider{
    padding: 50px 0;

     @include breakpoint (max-md){
      padding: 0px;
    }
  }


  &-card {
    border-radius: 12.195px;
    background: $theme-color2;
    border: 2px solid transparent;
<<<<<<< HEAD
    transition: all 0.4s;
   
    &-content {
      
=======
    .swiper-slide-active & {
      border: 2px solid $theme-color;
    }
    &-content {
>>>>>>> 107367a6d2037b856b751a54733298fd082ac9de
      padding: 40px;
      @include breakpoint (max-xl){
        padding: 25px;
      }
      &__title {
        color: $black;
        font-family: $body-font;
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: 30px; /* 150% */
        letter-spacing: 0.36px;
        padding-bottom: 20px;
        max-width: 273px;
      }
      &__star {
        padding-bottom: 30px;
        i {
          color: #FFBA08;
          font-size: 24px;
        }
      }
      &__desc {
        color: $title-color2;
        font-family: $body-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 166.667% */
        letter-spacing: 0.16px;
      }
      &__thumb {
<<<<<<< HEAD
        
=======
        position: relative;
>>>>>>> 107367a6d2037b856b751a54733298fd082ac9de
        img {
          width: 100%;
        }
      }
    }
    .author-meta {
      border-top: 1px solid #C1C1C1;
      padding: 40px;
      @include breakpoint (max-xl){
        padding: 25px;
      }
    }
    &__quote {
      position: absolute;
      bottom: 80%;
      right: 7%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      background: var(--P1, linear-gradient(270deg, #9708CC -54.69%, #43CBFF 99.85%));
      width: 60.976px;
      height: 60.976px;
      flex-shrink: 0;
      i {
        color: $white;
        font-size: 29.268px;
        font-style: normal;
        font-weight: 900;
        line-height: 110%; 
      }
      @include breakpoint (max-xl){
        bottom: 72%;
      }
      @include breakpoint (max-lg){
        bottom: 77%;
        width: 50.976px;
        height: 50.976px;
      }
    }    
  }
}

.testimonial1-card-content__thumb {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.testimonial1-card-content__thumb.show-thumb {
  opacity: 1;
  visibility: visible;
}

.testimonial1-card-content__desc {
  display: block;
}

.testimonial-slider {
  position: relative;
  padding-bottom: 85px;
  @include breakpoint (max-xs){
    padding-bottom: 65px;
  }
}

.testimonial-slider .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute !important;
  left: 0;
  width: 100%;
  text-align: center;
}

.testimonial1-card-content {
  height: 340px;
  transition: height 0.3s ease-in-out;
  @include breakpoint (max-lg){
    height: 300px;
  }
  @include breakpoint (max-md){
    height: 340px;
  }
  @include breakpoint (max-xsmall){
    height: 280px;
  }

  &.active-card {
    height: 440px;

   @include breakpoint (max-lg){
      height: 380px;
    }
<<<<<<< HEAD
    
=======
    @include breakpoint (max-md){
      height: 440px;
    }
    @include breakpoint (max-xsmall){
      height: 383px;
    }
    @include breakpoint (max-xxsmall){
      height: 360px;
    }
>>>>>>> 107367a6d2037b856b751a54733298fd082ac9de
  }
}



.testimonial-slider {
  .swiper-wrapper {
    height: 584px;
    display: flex;
    align-items: center;
    @include breakpoint (max-lg){
      height: 500px;
    }
    @include breakpoint (max-md){
      height: 550px;
    }
    @include breakpoint (max-xsmall){
      height: 500px;
    }
  }
  .swiper-slide-prev,
  .swiper-slide-next {
    display: flex !important;
    align-items: center;
  }
}

.swiper-pagination {
  height: 30px;
}