@use '../../root' as *;
@use '../../utilities' as *;

.testimonial1 {
  .swiper-wrapper {
    display: flex;
    align-items: center;
  }
  &-card {
    border-radius: 12.195px;
    background: var(--100, #F7FAFF);
    border: 2px solid transparent;
    &:hover {
      border: 2px solid #6A5ACD;
      @include transition;
    }
    &-content {
      padding: 40px;
      &__title {
        color: var(--900, #000);
        font-family: Lato;
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: 30px; /* 150% */
        letter-spacing: 0.36px;
        padding-bottom: 20px;
        max-width: 273px;
      }
      &__star {
        padding-bottom: 30px;
        i {
          color: #FFBA08;
          font-size: 24px;
        }
      }
      &__desc {
        color: var(--800, #6B7280);
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 166.667% */
        letter-spacing: 0.16px;
      }
      &__thumb {
        position: relative;
        display: none;
        @include transition;
      }
    }
    .author-meta {
      border-top: 1px solid #C1C1C1;
      padding: 40px;
      @include breakpoint (max-xl){
        padding: 25px;
      }
    }
    &__quote {
      position: absolute;
      bottom: 80%;
      right: 7%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      background: var(--P1, linear-gradient(270deg, #9708CC -54.69%, #43CBFF 99.85%));
      width: 60.976px;
      height: 60.976px;
      flex-shrink: 0;
      i {
        color: var(--White, #FFF);
        font-size: 29.268px;
        font-style: normal;
        font-weight: 900;
        line-height: 110%; 
      }
    }
    &:hover {
      .testimonial1 {
        &-card {
          &-content {
            &__desc {
              display: none;
            }
            &__thumb {
              display: block;
              @include transition;
            }
          }
        }
      }
    }
  }
}

  