@use '../../root' as *;
@use '../../utilities' as *;

.service1 {
    position: relative;;
    background: var(--100, #F7FAFF);
    &__thumb {
        border-radius: 20px;
        img {
            border-radius: 20px;
        }
    }
    &-content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid transparent;
        border-radius: 10px;
        padding: 57px 60px;
        @include breakpoint (xxl){
            margin-left: 30px;
        }
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background: #C1C1C1;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        &__title {
            color: var(--900, #000);
            font-family: Lato;
            font-size: 30px;
            font-style: normal;
            font-weight: 900;
            line-height: 44px; 
            letter-spacing: 0.36px;
            @include breakpoint(max-xsmall){
                font-size: 24px;
                line-height: 30px;
            }
            @include breakpoint(max-xxsmall){
                font-size: 18px;
                line-height: 24px;
            }
        }
        &:hover {
            border: 1px solid rgba(193, 193, 193, 0.30);
            background: var(--White, #FFF);
            box-shadow: 0px 5px 60px 0px rgba(0, 0, 0, 0.05);
            &::before {
                background: none;
            }
        }
    }
}