@use '../../root' as *;
@use '../../utilities' as *;

.service4 {
    &-details {
        @include breakpoint (xxl){
            padding-right: 20px;
        }
        &__title {
            color: var(--White, #FFF);
            font-family: Marcellus;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 50px; 
            padding-bottom: 15px;
        }
        &__desc {
            color: var(--White, #FFF);
            font-family: Urbanist;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; 
        }
        &__list {
            padding-top: 30px;
            display: flex;
            gap: 115px;
            @include breakpoint(max-xxl){
                flex-wrap: wrap;
                gap: 60px;
            }
            @include breakpoint(max-xl){
                flex-wrap: wrap;
                gap: 20px;
            }
        }
        &-card {
            display: flex;
            gap: 30px;
            margin-top: 30px;
            &-item {
                border-radius: 5px;
                border: 1px solid var(--White, #FFF);
                padding: 30px;
                &-header {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    padding-bottom: 30px;
                    &__icon {
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 5px;
                        background: var(--P, #B8E451);
                        width: 82.254px;
                        height: 80px;
                        flex-shrink: 0;
                        img {
                            width: 45px;
                            height: 45px;
                            flex-shrink: 0;
                            aspect-ratio: 1/1;
                        }
                    }
                    &__text {
                        color: var(--White, #FFF);
                        font-family: Marcellus;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 30px; 
                    }
                }
            }
        }
    }
    &-gallery{
        background: var(--100, #FCF9EB);
        border-radius: 5px;
        padding: 50px;
        @include breakpoint (max-lg) {
            padding-top: 25px;
        }
        @include breakpoint (max-md) {
            padding: 15px;
        }

        &-content {
            display: flex;
            justify-content: space-between;
            padding-bottom: 45px;
            @include breakpoint (max-lg) {
                padding-bottom: 25px;
            }
            &__title {
                color: #000;
                font-family: Marcellus;
                font-size: 60px;
                font-style: normal;
                font-weight: 400;
                line-height: 75px; /* 125% */
                @include breakpoint (max-xl) {
                    font-size: 40px;
                    line-height: 50px;
                }
                @include breakpoint (max-md) {
                    font-size: 35px;
                    line-height: 45px;
                }
                @include breakpoint (max-xsmall) {
                    font-size: 24px;
                }
            }
        }
        &-thumb {
            display: flex;
            position: relative;
            &__icon {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 49.7%;
                @include breakpoint (max-lg) {
                    img {
                        width: 60%;
                    }
                }
            }
        }
    }
}