@use '../../root' as *;
@use '../../utilities' as *;

.service4 {
    border-radius: 20px;
    background: var(--100, #F7FAFF);
    &-card {
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 5px;
        background: var(--White, #FFF);
        &:hover {
            border-radius: 10px;
            background: #4D7B6B;
            box-shadow: 0px 1px 2px 0px rgba(13, 18, 30, 0.08);
            @include transition;
        }

        &-content {
            padding: 40px 30px 40px 40px;
            @include breakpoint (max-xxl){
                padding: 30px 20px 30px 20px;
            }
            @include breakpoint (max-xl){
                padding: 40px;
            }

            &__icon {
                padding-bottom: 35px;
                svg path {
                    fill: $title-color;
                }
                &.except {
                    svg path {
                        fill: $white;
                    }
                }

                @include breakpoint (max-md){
                    padding-bottom: 20px;
                }
            }
            &__title {
                color: $title-color;
                font-family: $body-font;
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                padding-bottom: 16px;
            }
            &__desc {
                padding-bottom: 50px;
                p {
                    color: $title-color;
                    font-family: $body-font;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px; 
                    opacity: 0.7;
                }
            }
            &__link {
                color: $title-color;
                font-family: $body-font;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                svg {
                    width: 12px;
                    height: 12px;
                }
            }
        }
        &:hover {
            .service4 {
                &-card {
                    &-content {
                        &__icon {
                            svg path {
                                fill: $white;
                                stroke: $white;
                            }
                        }
                        &__title {
                            a {
                                color: $white;
                            }
                        }
                        &__desc {
                            p {
                                color: $white;
                                @include transition;

                            }
                        }
                        &__link {
                            color: $white;
                            @include transition; 

                            svg path {
                                stroke: $white;
                                @include transition; 
                            }                

                        }
                    }
                }
            }
        }
    }
}