@use '../../root' as *;
@use '../../utilities' as *;

.service1 {
    position: relative;;
    background: var(--White, #FFF);
    &-thumb {
        position: relative;
        @include breakpoint (max-xl){
            display: none;
        }
        &__one {
            position: relative;
  
        }
        &__icon {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 9; 
            padding: 54px;
            border-radius: 5px;
            border: 1px solid var(--P, #B8E451);
            background: var(--P, #B8E451);
            @include breakpoint (max-xxl){
                display: none;
            }
        }       

    }
    &-content {
         display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $theme-color;
        padding-bottom: 30px;
        margin-bottom: 30px;
        @include breakpoint(max-xsmall){
            padding-bottom: 20px;
        }
        @include breakpoint(max-xxsmall){
            padding-bottom: 10px;
            margin-bottom: 20px;
        }
        &__title {
            color: var(--900, #010003);
            font-family: Marcellus;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 50px; /* 125% */
            @include breakpoint(max-sm){
                font-size: 32px;
                line-height: 40px;
            }
            @include breakpoint(max-xxs){
                font-size: 26px;
                line-height: 30px;
            }
            @include breakpoint(max-xsmall){
                font-size: 24px;
                line-height: 30px;
            }
            @include breakpoint(max-xxsmall){
                font-size: 18px;
                line-height: 24px;
            }
        }
        &__link {
            color: var(--900, #010003);
            font-family: Urbanist;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 14px; /* 87.5% */
            letter-spacing: 2px;
            text-transform: uppercase;
            @include breakpoint(max-xsmall){
                font-size: 14px;
            }
        }
    }
}