@use '../../root' as *;
@use '../../utilities' as *;

.service1 {
    position: relative;;
    background: var(--100, #F7FAFF);
    &__thumb {
        border-radius: 20px;
        img {
            border-radius: 20px;
        }
    }
    &-content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid transparent;
        border-radius: 10px;
        padding: 57px 60px;
        @include breakpoint (xxl){
            margin-left: 30px;
        }
        @include breakpoint (max-xxl){
            padding: 40px 45px;
        }
        @include breakpoint (max-md){
            padding: 35px 20px;
        }
        @include breakpoint (max-sm){
            padding: 30px 20px;
        }
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background: #C1C1C1;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        &__icon {
            flex-shrink: 0; 
            margin-right: 84px;
            max-width: 80px;
            @include breakpoint(max-lg){
                margin-right: 60px;
                max-width: 55px;

            }
            @include breakpoint(max-md){
                margin-right: 25px;

            }
            @include breakpoint(max-sm){
                margin-right: 35px;
                max-width: 40px;
            }
        }

        &__title {
            flex: 1; 
            text-align: left; 
            margin: 0; 

            color: var(--900, #000);
            font-family: Lato;
            font-size: 30px;
            font-style: normal;
            font-weight: 900;
            line-height: 44px; 
            letter-spacing: 0.36px;
            @include breakpoint(max-lg){
                font-size: 26px;
                line-height: 30px;
            }
            @include breakpoint(max-sm){
                font-size: 24px;
            }
            @include breakpoint(max-xsmall){
                font-size: 20px;
            }
            @include breakpoint(max-xxsmall){
                font-size: 18px;
                line-height: 24px;
            }
        }
        &__link {
            display: flex;
            width: 80px;
            height: 80px;
            padding: 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
            border-radius: 40px;
            background: var(--White, #FFF);
            @include breakpoint(max-lg){
                width: 65px;
                height: 65px;
            }
            @include breakpoint(max-sm){
                width: 45px;
                height: 45px;
            }
            img {
                width: 53.333px;
                height: 53.333px;
                flex-shrink: 0;
                aspect-ratio: 53.33/53.33;
                @include breakpoint(max-lg){
                    width: 35px;
                    height: 35px;
                }
                @include breakpoint(max-sm){
                    width: 25px;
                    height: 25px;
                }
            }
            &:hover {
                background: var(--P1, linear-gradient(270deg, #9708CC -54.69%, #43CBFF 99.85%));
            }
        }
        &:hover {
            border: 1px solid rgba(193, 193, 193, 0.30);
            background: var(--White, #FFF);
            box-shadow: 0px 5px 60px 0px rgba(0, 0, 0, 0.05);
            &::before {
                background: none;
            }
        }
    }
}
