@use '../../root' as *;
@use '../../utilities' as *;

.service4 {
    border-radius: 20px;
    background: var(--100, #F7FAFF);
    &-card {
        position: relative;
        padding: 50px;
        border-radius: 5px;
        background: var(--White, #FFF);
        @include breakpoint (max-lg){
            padding: 30px 25px;
        }

        &__icon {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            background: var(--P1, linear-gradient(270deg, #9708CC -54.69%, #43CBFF 99.85%));
            width: 60px;
            height: 60px;
            flex-shrink: 0;
            margin-bottom: 20px;
        }
        &__numb {
            position: absolute;
            top: 15%;
            right: 9%;
            color: #1D2027;
            text-align: right;
            font-family: Lato;
            font-size: 40px;
            font-style: normal;
            font-weight: 900;
            line-height: 44px; /* 110% */
            letter-spacing: 0.36px;
            opacity: 0.1;
            @include breakpoint (max-xxl){
                top: 12%;
            }
            @include breakpoint (max-lg){
                top: 10%;
            }
            @include breakpoint (max-md){
                font-size: 36px;
            }
        }
        &__title {
            color: #1D2027;
            font-family: Lato;
            font-size: 24px;
            font-style: normal;
            font-weight: 900;
            line-height: 34px; /* 141.667% */
            letter-spacing: 0.36px;
            padding-bottom: 25px;
        }
        &__desc {
            padding-bottom: 50px;
            color: var(--800, #6B7280);
            font-family: Lato;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px; /* 166.667% */
            letter-spacing: 0.16px;
            padding-bottom: 20px;
        }
        &__link {
            color: #1D2027;
            font-family: Lato;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px; /* 100% */
            text-transform: uppercase;
            i {
                font-size: 16px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                background: var(--P1, linear-gradient(90deg, #9708CC 0%, #43CBFF 144.38%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

        }
    }
}