@use '../../root' as *;
@use '../../utilities' as *;

.service3 {
    position: relative;
    padding-top: 110px;
    @include breakpoint (max-xxxl){
        padding-top: 75px;
    }
    @include breakpoint (max-xxl){
        padding-top: 47px;
    }
    @include breakpoint (max-xl){
        padding-top: 0;
    }
    &-content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid transparent;
        border-radius: 10px;
        padding: 57px 60px;
        @include breakpoint (xxl){
            margin-left: 30px;
        }
        @include breakpoint (max-lg){
            padding: 45px 30px;
        }
        @include breakpoint (max-md){
            padding: 35px 20px;
        }
        @include breakpoint (max-xs){
            padding: 35px 10px;
        }
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background: #C1C1C1;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        &__thumb {
            text-align: center;
            position: absolute;
            right: 25%;
            opacity: 0;
            visibility: hidden;
            @include breakpoint (max-xxxl){
                right: 16%;
                img {
                    width: 80%;
                }
            }
            @include breakpoint (max-xxl){
                right: 11%;
                img {
                    width: 68%;
                }
            }
            @include breakpoint (max-xl){
                display: none;
            }
        }
        &__icon {
            flex-shrink: 0; 
            margin-right: 84px;
            @include breakpoint (max-md){
                margin-right: 36px;
                img {
                    width: 70%;
                }
            }
            @include breakpoint (max-xsmall){
                margin-right: 5px;
                img {
                    width: 56%;
                }
            }
        }

        &__title {
            flex: 1; 
            text-align: left; 
            margin: 0; 

            color: $black;
            font-family: $body-font;
            font-size: 30px;
            font-style: normal;
            font-weight: 900;
            line-height: 44px; 
            letter-spacing: 0.36px;
            @include breakpoint(max-md){
                font-size: 26px;
                line-height: 35px;
            }
            @include breakpoint(max-sm){
                font-size: 24px;
                line-height: 30px;
            }
            @include breakpoint(max-xsmall){
                font-size: 20px;
                line-height: 30px;
            }
            @include breakpoint(max-xxsmall){
                font-size: 18px;
                line-height: 24px;
            }
        }
        &__link {
            display: flex;
            width: 80px;
            height: 80px;
            padding: 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
            border-radius: 40px;
            background: $theme-color2;
            img {
                width: 53.333px;
                height: 53.333px;
                flex-shrink: 0;
                aspect-ratio: 53.33/53.33;
            }
            @include breakpoint (max-md){
                width: 65px;
                height: 65px;
                img {
                    width: 38px;
                    height: 38px;
                }
            }
            @include breakpoint (max-xxsmall){
                width: 50px;
                height: 50px;
                img {
                    width: 26px;
                    height: 26px;
                }
            }
            &:hover {
                background: var(--P1, linear-gradient(270deg, #9708CC -54.69%, #43CBFF 99.85%));
            }
        }
        &:hover {
            border: 1px solid rgba(193, 193, 193, 0.30);
            background: $white;
            box-shadow: $shadow;
            &::before {
                background: none;
            }
            .service3 {
                &-content {
                    &__thumb {
                        opacity: 1;
                        visibility: visible;
                        z-index: 3;
                    }
                }
            }
        }
    }
}
