@use '../../root' as *;
@use '../../utilities' as *;


.hero1 {
    position: relative;
    overflow: hidden;
    padding: 350px 0 230px;
    background: var(--White, #FFF);
    @include breakpoint (max-xl){
        padding: 290px 0 172px;
    }
    @include breakpoint (max-lg){
        padding: 235px 0 65px;
    }
    @include breakpoint (max-md){
        padding: 167px 0 35px;
    }
    @include breakpoint (max-xs){
        padding: 140px 0 35px;
    }

    // &-lines {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     z-index: 1;
    //     pointer-events: none;

    //     &::before {
    //         content: '';
    //         position: absolute;
    //         inset: 0;

    //         background-image:
    //         repeating-linear-gradient(
    //             to right,
    //             rgba(0, 0, 0, 0.1),
    //             rgba(102, 102, 102, 0.02) 1px,
    //             transparent 1px,
    //             transparent 140px
    //         );

    //         mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    //         -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    //     }
    // }

    &-lines {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        pointer-events: none;

        &::before {
            content: '';
            position: absolute;
            inset: 0;

            background-image: repeating-linear-gradient(
            to right,
            rgba(0, 0, 0, 0.1),
            rgba(102, 102, 102, 0.02) 1px,
            transparent 1px,
            transparent 140px
            );

            mask-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.35) 100%
            );
            -webkit-mask-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.35) 100%
            );
        }
    }

    &-icon {
        position: absolute;  
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
        &__topLayer {
            display: flex;
            justify-content: center;
            gap: 759px;
            padding-bottom: 135px;
            @include breakpoint (max-xxxl){
                gap: 730px;
            }
            @include breakpoint (max-xl){
                gap: 665px;
            }
            @include breakpoint (max-lg){
                gap: 505px;
            }
            @include breakpoint (max-md){
                display: none;
            }
            &--one {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                background: var(--White, #FFF);
                box-shadow: 0px 5px 80px 0px rgba(0, 0, 0, 0.08);
                width: 100px;
                height: 100px;
                flex-shrink: 0;
                aspect-ratio: 1/1;
                @include breakpoint (max-lg){
                    width: 75px;
                    height: 75px;
                    img {
                        width: 50%;
                    }
                }
            }
        }
        &__middleLayer {
            display: flex;
            justify-content: center;
            gap: 1030px;
            padding-bottom: 135px;
            @include breakpoint (max-xxxl){
                gap: 920px;
            }
            @include breakpoint (max-xl){
                gap: 767px;
            }
            @include breakpoint (max-lg){
                gap: 578px;
            }
            @include breakpoint (max-md){
                display: none;
            }
            &--two {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                background: var(--White, #FFF);
                box-shadow: 0px 5px 80px 0px rgba(0, 0, 0, 0.08);
                width: 100px;
                height: 100px;
                flex-shrink: 0;
                aspect-ratio: 1/1;
                @include breakpoint (max-lg){
                    width: 75px;
                    height: 75px;
                    img {
                        width: 50%;
                    }
                }
            }
        }
        &__bottomLayer {
            display: flex;
            justify-content: center;
            gap: 759px;
            @include breakpoint (max-xxxl){
                gap: 730px;
            }
            @include breakpoint (max-xl){
                gap: 665px;
            }
            @include breakpoint (max-lg){
                gap: 505px;
            }
            @include breakpoint (max-md){
                display: none;
            }
            &--three {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                background: var(--White, #FFF);
                box-shadow: 0px 5px 80px 0px rgba(0, 0, 0, 0.08);
                width: 100px;
                height: 100px;
                flex-shrink: 0;
                aspect-ratio: 1/1;
                @include breakpoint (max-lg){
                    width: 75px;
                    height: 75px;
                }
            }
        }
        @include breakpoint (max-lg){
            top: 61%;
        }
    }
    &__shape1 {
        position: absolute;  
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;  
        border-radius: 759px;
        opacity: 0.02;
        background: linear-gradient(90deg, rgba(151, 8, 204, 0.30) 0%, rgba(67, 203, 255, 0.70) 144.38%);  
        width: 759px;
        height: 759px;
        flex-shrink: 0;
        @include breakpoint (max-lg){
            width: 596px;
            height: 596px;
        }
    }
    &__shape2 {
        position: absolute;  
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
        width: 557px;
        height: 557px;
        flex-shrink: 0;  
        border-radius: 557px;
        opacity: 0.03;
        background: var(--P1, linear-gradient(270deg, #9708CC -54.69%, #43CBFF 99.85%));
        @include breakpoint (max-lg){
            width: 457px;
            height: 457px;
        }
    }
    &__shape3 {
        position: absolute;  
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 6;
        width: 397px;
        height: 397px;
        flex-shrink: 0;
        border-radius: 397px;
        opacity: 0.05;
        background: linear-gradient(90deg, rgba(151, 8, 204, 0.30) 0%, rgba(67, 203, 255, 0.70) 144.38%);
        @include breakpoint (max-lg){
            width: 297px;
            height: 297px;
        }
    }

    &-content {
        position: relative;
        z-index: 9;
        display: flex;
        align-items: center;
        flex-direction: column;
        &__subtitle {
            display: inline-flex;
            padding: 13px 20px 13px 25px;
            justify-content: flex-end;
            align-items: center;
            gap: 8px;
            border-radius: 10px;
            background: var(--White, #FFF);
            box-shadow: 0px 5px 60px 0px rgba(0, 0, 0, 0.05);
            color: var(--900, #0A0A0A);
            font-family: $body-font;
            font-size: 17px;
            font-style: normal;
            font-weight: 700;
            line-height: 17px; 
            text-transform: uppercase;
            margin-bottom: 18px;
            @include breakpoint (max-xsmall){
                padding: 0 5px;
                font-size: 14px;
            }
            
        }
        &__title { 
            padding-bottom: 20px;
            color: var(--900, #000);
            text-align: center;
            font-family: $body-font;
            font-size: 80px;
            font-style: normal;
            font-weight: 800;
            line-height: 100px; 
            letter-spacing: 1px;
            @include breakpoint (max-xxl){
                font-size: 76px;
                line-height: 90px;
            }
            @include breakpoint (max-xl){
                font-size: 63px;
            }
            @include breakpoint (max-lg) {
                font-size: 60px;
                line-height: 70px;
            }
            @include breakpoint (max-md) {
                font-size: 50px;
                line-height: 70px;
            }
            @include breakpoint (max-sm) {
                font-size: 45px;
                line-height: 60px;
            }
            @include breakpoint (max-xsmall) {
                font-size: 40px;
                line-height: 55px;
            }
        } 
        &__desc {
            max-width: 610px;
            color: var(--900, #000);
            text-align: center;
            font-family: $body-font;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px; /* 166.667% */
            letter-spacing: 0.16px;
        } 
        &-cta {
            padding-top: 40px;
            display: flex;
            align-items: center;
            gap: 25px;
            @include breakpoint (max-md){
                flex-direction: column;
            }
        }   
    }
}


