@use '../../root' as *;
@use '../../utilities' as *;

.about1 {
    position: relative;
    .row {
        padding: 120px 50px;
        border-radius: 20px;
        background: var(--White, #FFF);
        box-shadow: 0px 5px 60px 0px rgba(0, 0, 0, 0.05);
    }
    &__title {
        color: #000;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 34px; 
        letter-spacing: 0.36px;
        padding-bottom: 20px;
    }
    &__desc {
        color: var(--800, #6B7280);
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; 
        letter-spacing: 0.16px;
        padding-bottom: 20px;
    }

    &-thumb {
        position: relative;
        text-align: center;
        margin-top: 55px;
        &__one {
            position: relative;
  
        }
        &__two {
            position: absolute;
            top: -12%;
            z-index: 9; 
        }
        
        &-badge {
            display: flex;
            gap: 15px;
            position: absolute;
            top: 47%;
            right: 0;
            border-radius: 5px;
            border-left: 2px dashed var(--P, #B8E451);
            background: var(--White, #FFF);
            box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
            padding: 25px 30px;
            @include breakpoint (max-xl){
                right: 30px;
            }

            &__text {
                h2 {
                    color: var(--900, #010003);
                    font-family: Marcellus;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 50px; 
                }
                p {
                    color: var(--700, #131215);
                    font-family: Marcellus;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px; 
                }
            }

        }
    }
    &-counter {
        display: flex;
        align-items: center;
        gap: 90px;
        &-item {
            display: flex;
            align-items: center;
            gap: 20px;
            &__icon {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 94px;
                height: 94px;
                flex-shrink: 0;
                aspect-ratio: 1/1;
                border-radius: 999px;
                border: 2px dashed var(--900, #000);
                background: var(--100, #F7FAFF);
                @include breakpoint (max-xs){
                    width: 65px;
                    height: 65px;
                }
                img {
                    width: 50px;
                    height: 50px;
                    flex-shrink: 0;
                    aspect-ratio: 1/1;
                    @include breakpoint (max-xs){
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            &-info {
                &__numb {
                    color: var(--900, #000);
                    font-family: Lato;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 65px;
                    letter-spacing: 0.49px;
                    padding-bottom: 5px;
                }
                &__label {
                    color: var(--900, #000);
                    font-family: Lato;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 21.6px; /* 120% */
                }
            }
        }
    }


    &-feature {
        padding-bottom: 38px;
        display: flex;
        gap: 20px;
        @include breakpoint (max-xl){
            flex-wrap: wrap;
        }
        &-item {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            border-radius: 5px;
            border: 1px solid var(--200, #CCC);
            padding: 20px;
            @include breakpoint (max-xs){
                justify-content: start;
                width: 100%;
            }
            &__icon {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 80px;
                height: 80px;
                flex-shrink: 0;
                background: $theme-color;
                border-radius: 50px;
                @include breakpoint (max-xs){
                    width: 65px;
                    height: 65px;
                }
                img {
                    width: 40px;
                    height: 40px;
                    flex-shrink: 0;
                    aspect-ratio: 1/1;
                    @include breakpoint (max-xs){
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            &__title {
                color: var(--900, #010003);
                font-family: Marcellus;
                font-size: 28px;
                font-style: normal;
                font-weight: 400;
                line-height: 36px; 
            }
        }
    }
    &-desc {
        color: var(--900, #010003);
        font-family: Urbanist;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; 
        opacity: 0.8;
    }
}

  