@use '../../root' as *;
@use '../../utilities' as *;

.about1 {
    position: relative;
    .row {
        padding: 120px 68px;
        border-radius: 20px;
        background: $white;
        box-shadow: 0px 5px 60px 0px rgba(0, 0, 0, 0.05);
        @include breakpoint (max-xl2){
            padding: 68px 55px;
        }
        @include breakpoint (max-xxl){
            padding: 30px 30px;
        }
        @include breakpoint (max-xl){
            padding: 30px 15px;
        }
    }
    &__title {
        color: $black;
        font-family: $body-font;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 34px; 
        letter-spacing: 0.36px;
        padding-bottom: 20px;
    }
    &__desc {
        color: $title-color2;
        font-family: $body-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; 
        letter-spacing: 0.16px;
        padding-bottom: 40px;
    }

    &-thumb {
        position: relative;
        text-align: center;
        margin-top: 55px;
        &__one {
            position: relative;
  
        }
        &__shape3 {
            position: absolute;
            top: 20px;
            @include breakpoint (max-xxxl){
                left: -50px;
            }
        }
        &__shape4 {
            position: absolute;
            bottom: -5%;
            right: 7%;
            @include breakpoint (max-xxxl){
                right: -4%;
            }
            @include breakpoint (max-xxl){
                display: none;
            }
        }
        
        &-badge {
            display: flex;
            align-items: center;
            gap: 15px;
            position: absolute;
            top: 62%;
            left: 0;
            z-index: 4;
            border-radius: 10px;
            background: $white;
            box-shadow: 0px 5px 60px 0px rgba(0, 0, 0, 0.05);
            padding: 25px 100px 25px 30px;
            @include breakpoint (max-xxxl){
                left: -36px;
            }
            @include breakpoint (max-xl){
                right: 30px;
                left: -15px;
                width: fit-content;
            }
            &__icon {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 94px;
                height: 94px;
                flex-shrink: 0;
                aspect-ratio: 1/1;
                border-radius: 999px;
                border: 2px dashed $black;
                background: $theme-color2;
                @include breakpoint (max-xxl){
                    width: 75px;
                    height: 75px;
                }
                @include breakpoint (max-xl){
                    width: 60px;
                    height: 60px;
                }
                @include breakpoint (max-xs){
                    width: 65px;
                    height: 65px;
                }
                img {
                    width: 50px;
                    height: 50px;
                    flex-shrink: 0;
                    aspect-ratio: 1/1;
                    @include breakpoint (max-xxl){
                        width: 35px;
                        height: 35px;
                    }
                    @include breakpoint (max-xl){
                        width: 25px;
                        height: 25px;
                    }
                    @include breakpoint (max-xs){
                        width: 30px;
                        height: 30px;
                    }
                }
            }

            &__text {
                h2 {
                    color: $black;
                    font-family: $body-font;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 65px; /* 135.417% */
                    letter-spacing: 0.49px;
                    @include breakpoint (max-xl){
                        font-size: 34px;
                        line-height: 45px;
                    }
                }
                p {
                    color: $black;
                    font-family: $body-font;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 21.6px; /* 120% */
                }
            }

        }
    }
    &-counter {
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 65px;
        row-gap: 80px;
        &__shape1 {
            position: absolute;
            left: 40%;
            width: 1px;
            height: 268px;
            background: #C1C1C1;
            @include breakpoint (max-xxxl){
                left: 45%;
            }
            @include breakpoint (max-xxl){
                left: 46%;
            }
            @include breakpoint (max-xl){
                display: none;
            }
        }
        &__shape2 {
            position: absolute;
            width: 603px;
            height: 1px;
            background: #C1C1C1;
            @include breakpoint (max-xxl){
                width: 498px;
            }
            @include breakpoint (max-xl){
                display: none;
            }
        }
        @include breakpoint (max-xl2){
            column-gap: 80px;
        }
        @include breakpoint (max-xxl){
            column-gap: 40px;
            row-gap: 40px;
        }
        &-item {
            display: flex;
            align-items: center;
            gap: 20px;
            width: 300px;
            @include breakpoint (max-xl2){
                width: 280px;
            }
            @include breakpoint (max-xxxl){
                width: 230px;
            }
            @include breakpoint (max-xl){
                width: 195px;
            }
            @include breakpoint (max-lg){
                width: 245px;
            }
            @include breakpoint (max-md){
                width: 195px;
            }
            @include breakpoint (max-xs){
                width: 245px;
            }
            &__icon {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 94px;
                height: 94px;
                flex-shrink: 0;
                aspect-ratio: 1/1;
                border-radius: 999px;
                border: 2px dashed $black;
                background: $theme-color2;
                @include breakpoint (max-xxl){
                    width: 75px;
                    height: 75px;
                }
                @include breakpoint (max-xl){
                    width: 60px;
                    height: 60px;
                }
                @include breakpoint (max-xs){
                    width: 65px;
                    height: 65px;
                }
                img {
                    width: 50px;
                    height: 50px;
                    flex-shrink: 0;
                    aspect-ratio: 1/1;
                    @include breakpoint (max-xxl){
                        width: 35px;
                        height: 35px;
                    }
                    @include breakpoint (max-xl){
                        width: 25px;
                        height: 25px;
                    }
                    @include breakpoint (max-xs){
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            &-info {
                &__numb {
                    color: $black;
                    font-family: $body-font;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 65px;
                    letter-spacing: 0.49px;
                    padding-bottom: 5px;
                    @include breakpoint (max-xl){
                        font-size: 34px;
                        line-height: 45px;
                        padding-bottom: 0;
                    }
                }
                &__label {
                    color: $black;
                    font-family: $body-font;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 21.6px; /* 120% */
                }
            }
        }
    }


    &-feature {
        padding-bottom: 38px;
        display: flex;
        gap: 20px;
        @include breakpoint (max-xl){
            flex-wrap: wrap;
        }
        &-item {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            border-radius: 5px;
            border: 1px solid var(--200, #CCC);
            padding: 20px;
            @include breakpoint (max-xs){
                justify-content: start;
                width: 100%;
            }
            &__icon {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 80px;
                height: 80px;
                flex-shrink: 0;
                background: $theme-color;
                border-radius: 50px;
                @include breakpoint (max-xs){
                    width: 65px;
                    height: 65px;
                }
                img {
                    width: 40px;
                    height: 40px;
                    flex-shrink: 0;
                    aspect-ratio: 1/1;
                    @include breakpoint (max-xs){
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            &__title {
                color: var(--900, #010003);
                font-family: Marcellus;
                font-size: 28px;
                font-style: normal;
                font-weight: 400;
                line-height: 36px; 
            }
        }
    }
    &-desc {
        color: var(--900, #010003);
        font-family: Urbanist;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; 
        opacity: 0.8;
    }
}

  