@use '../../root' as *;
@use '../../utilities' as *;

.about2 {
    position: relative;
    &-content {
        &__subtitle {
            font-family: Lato;
            font-size: 48px;
            font-style: normal;
            font-weight: 900;
            line-height: 65px; /* 135.417% */
            letter-spacing: 0.49px;
            background: var(--P1, linear-gradient(270deg, #9708CC -54.69%, #43CBFF 99.85%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-bottom: 10px;
            @include breakpoint(max-xl) {
                font-size: 42px;
                line-height: 56px;
            }
            @include breakpoint(max-lg) {
                font-size: 36px;
                line-height: 50px;
            }
            @include breakpoint(max-md) {
                font-size: 30px;
                line-height: 44px;
            }
            @include breakpoint(max-sm) {
                font-size: 26px;
                line-height: 38px;
            }
        }
        &__title {
            color: var(--900, #000);
            font-family: 'Lato', sans-serif;
            font-size: 70px;
            font-weight: 900;
            line-height: 85px;
            letter-spacing: 0.5px;
            font-style: normal;
            font-feature-settings: 'liga' off, 'clig' off;
            padding-bottom: 20px;

            @include breakpoint(max-xl) {
                font-size: 64px;
                line-height: 76px;
            }
            @include breakpoint(max-lg) {
                font-size: 52px;
                line-height: 64px;
            }
            @include breakpoint(max-md) {
                font-size: 40px;
                line-height: 50px;
            }
            @include breakpoint(max-sm) {
                font-size: 32px;
                line-height: 42px;
            }

            span {
                color: $theme-color;
            }
        }

        &__desc {
            color: var(--800, #6B7280);
            font-family: Lato;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px; /* 166.667% */
            letter-spacing: 0.16px;
            padding-bottom: 20px;
        }
    }
    &-thumb {
        position: relative;
        &__img {
            position: relative;
            z-index: 5;
            @include breakpoint (max-xl){
                text-align: center;
            }
        }
        &-feature {
            position: absolute;
            bottom: 7%;
            left: 7%;
            display: flex;
            align-items: center;
            gap: 20px;
            &__icon {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%; // ensures circular container
                border: 2px dashed var(--900, #000);
                background: var(--100, #F7FAFF);
                width: 94px;
                height: 94px;
                flex-shrink: 0;
                aspect-ratio: 1 / 1;
                overflow: hidden;

                img {
                    width: 50px;
                    height: 50px;
                    flex-shrink: 0;
                    object-fit: contain;
                }

                @include breakpoint(max-md) {
                    width: 70px;
                    height: 70px;

                    img {
                        width: 36px;
                        height: 36px;
                    }
                }

                @include breakpoint(max-sm) {
                    width: 60px;
                    height: 60px;

                    img {
                        width: 32px;
                        height: 32px;
                    }
                }
            }

            &-content {
                h4 {
                    color: var(--White, #FFF);
                    font-family: Lato;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 65px; /* 135.417% */
                    letter-spacing: 0.49px;
                    padding-bottom: 3px;
                    @include breakpoint(max-xl) {
                        font-size: 36px;
                        line-height: 48px;
                    }
                    @include breakpoint(max-lg) {
                        font-size: 30px;
                        line-height: 40px;
                    }
                    @include breakpoint(max-md) {
                        font-size: 26px;
                        line-height: 36px;
                    }
                    @include breakpoint(max-sm) {
                        font-size: 22px;
                        line-height: 30px;
                    }
                }
                p {
                    color: var(--White, #FFF);
                    font-feature-settings: 'liga' off, 'clig' off;
                    font-family: Lato;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 21.6px; 
                    @include breakpoint(max-md) {
                    font-size: 16px;
                    line-height: 22px;
                    }
                    @include breakpoint(max-sm) {
                    font-size: 15px;
                    line-height: 20px;
                    }
                }
            }
        }
    }
}

  