@use '../root' as *;

/*----------------------------------------------
    # Buttons style here
----------------------------------------------*/

.theme-btn {
    &.style1 {
        display: inline-flex;
        height: 60px;
        padding: 20px;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        border-radius: 10px;
        background: var(--P2, linear-gradient(90deg, #E5087B 0%, #FDD819 125.62%));
        color: $white;
        font-family: $body-font;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: 17px; 
        text-transform: uppercase;

        position: relative;
        z-index: 1;
        overflow: hidden;
        transition: all 0.3s ease-in-out;

        @include breakpoint (max-lg) {
            height: 56px;
            padding: 18px 24px;
            font-size: 16px;
            line-height: 17px;
        }
        @include breakpoint (max-md) {
            height: 52px;
            padding: 16px 22px;
            font-size: 15px;
            line-height: 16px;
        }
        @include breakpoint (max-sm) {
            height: 48px;
            padding: 14px 18px;
            font-size: 14px;
            line-height: 16px;
        }
        a {
            color: $white!important;
            display: inline-block;
        }
        i {
            color: $white;
            font-weight: 500;
            transform: rotate(45deg);
            @include transition;
            @include breakpoint (max-md) {
                font-size: 15px;
            }
        }
        &:before {
            transition-duration: 800ms;
            position: absolute;
            width: 210%;
            height: 290%;
            content: "";
            top: 162%;
            left: 50%;
            background: linear-gradient(270deg, #9708CC -47.61%, #43CBFF 99.88%);
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%) rotate(-8deg);
            border-radius: 80%;
            z-index: -1;
        }
        &:hover {
            color: $white !important;
            &:before {
                top: -96%;
            }
            i {
                color: $white;
                transform: rotate(0deg);
                @include transition;
            }
        }
    }  
}

.theme-btn {
    &.style2 {
        display: inline-flex;
        height: 60px;
        padding: 20px 25px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        border-radius: 10px;
        background: linear-gradient(270deg, #9708CC -47.61%, #43CBFF 99.88%);
        color: $white;
        font-family: $body-font;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: 17px;
        text-transform: uppercase;

        position: relative;
        z-index: 1;
        overflow: hidden;
        transition: all 0.3s ease-in-out;

        @include breakpoint (max-lg) {
            height: 56px;
            padding: 18px 24px;
            font-size: 16px;
            line-height: 17px;
        }
        @include breakpoint (max-md) {
            height: 52px;
            padding: 16px 22px;
            font-size: 15px;
            line-height: 16px;
        }
        @include breakpoint (max-sm) {
            height: 48px;
            padding: 14px 18px;
            font-size: 14px;
            line-height: 16px;
        }
        a {
            color: $white!important;
            display: inline-block;
        }
        i {
            color: $white;
            font-weight: 500;
            transform: rotate(45deg);
            @include transition;
            @include breakpoint (max-md) {
                font-size: 15px;
            }
        }
        &:before {
            transition-duration: 800ms;
            position: absolute;
            width: 210%;
            height: 290%;
            content: "";
            top: 162%;
            left: 50%;
            background: var(--P2, linear-gradient(90deg, #E5087B 0%, #FDD819 125.62%));
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%) rotate(-8deg);
            border-radius: 80%;
            z-index: -1;
        }
        &:hover {
            color: $white !important;
            &:before {
                top: -96%;
            }
            i {
                color: $white;
                transform: rotate(0deg);
                @include transition;
            }
        }
    }  
}

.theme-btn {
    &.style3 {
        display: inline-flex;
        height: 50px;
        padding: 20px 25px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        border-radius: 10px;
        background: linear-gradient(270deg, #9708CC -47.61%, #43CBFF 99.88%);
        color: $white;
        font-family: $body-font;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: 17px;
        text-transform: uppercase;

        position: relative;
        z-index: 1;
        overflow: hidden;
        transition: all 0.3s ease-in-out;

        @include breakpoint (max-md) {
            padding: 15px 28px;
        }
        a {
            color: $white!important;
            display: inline-block;
        }
        i {
            color: $white;
            font-weight: 500;
            transform: rotate(45deg);
            @include transition;
        }
        &:before {
            transition-duration: 800ms;
            position: absolute;
            width: 210%;
            height: 290%;
            content: "";
            top: 162%;
            left: 50%;
            background: var(--P2, linear-gradient(90deg, #E5087B 0%, #FDD819 125.62%));
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%) rotate(-8deg);
            border-radius: 80%;
            z-index: -1;
        }
        &:hover {
            color: $white !important;
            &:before {
                top: -96%;
            }
            i {
                color: $white;
                transform: rotate(0deg);
                @include transition;
            }
        }
    }  
}



.theme-btn {
    &.style4 {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: fit-content;
        height: 54px;
        padding: 20px 20px;
        border-radius: 5px;
        border: 1px solid $theme-color;
        color: $white;
        font-family: Urbanist;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px; /* 87.5% */
        letter-spacing: 2px;
        text-transform: uppercase;

        position: relative;
        z-index: 1;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;

        @include breakpoint (max-md) {
            padding: 15px 28px;
        }
        a {
            color: $white!important;
            display: inline-block;
        }
        i {
            color: $white;
            font-weight: 400;
            @include transition;
        }
        &:before {
            transition-duration: 800ms;
            position: absolute;
            width: 210%;
            height: 290%;
            content: "";
            top: 162%;
            left: 50%;
            background: $theme-color;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%) rotate(-8deg);
            border-radius: 80%;
            z-index: -1;
        }
        &:hover {
            color: $white !important;
            &:before {
                top: -96%;
            }
            i {
                color: $white;
                @include transition;
            }
        }
    }  
}

.help-contact {
    padding: 5px 26px 5px 6px;
    border-radius: 999px;
    border: 1px solid $border-color;
    background: $smoke;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
  
    &__icon {
        width: 47px;
        height: 47px;
        flex-shrink: 0;
        background: rgb(249, 245, 222);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
  
      i {
        color: $theme-color;
        font-size: 16px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
      }
    }
  
    &__text {
      line-height: 1;
  
      &-label {
        color: #000;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: $body-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; 
      }
  
      &-number {
        color: #000;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: $body-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; 
      }
    }
  
    @include breakpoint(max-md) {
      padding: 10px 16px;
    }
}
   
.global-btn {
    position: relative;
    z-index: 2;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    text-align: center;
    background: $title-color;
    color: $white;
    font-family: $body-font;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    padding: 20px 16px 20px 25px;
    min-width: 160px;
    cursor: pointer;
    border-radius: 12px;
  
    &:before {
        transition-duration: 800ms;
        position: absolute;
        width: 210%;
        height: 290%;
        content: "";
        top: 162%;
        left: 50%;
        background: $theme-color;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%) rotate(-8deg);
        border-radius: 80%;
        z-index: -1;
    }
    &:hover {
        color: $theme-color !important;
        i {
            color: $white;
        }
        &:before {
            top: -96%;
        }
    }
}

// Form submit button

.submit-btn {
    &.style1 {
        display: inline-flex;
        height: 60px;
        padding: 20px;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        flex-shrink: 0;
        border-radius: 10px;
        background: var(--100, #F7FAFF);
        color: var(--900, #000);
        font-family: $body-font;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px; /* 100% */
        text-transform: uppercase;

        position: relative;
        z-index: 1;
        overflow: hidden;
        transition: all 0.3s ease-in-out;

        @include breakpoint (max-md) {
            padding: 15px 28px;
        }
        a {
            color: $white!important;
            display: inline-block;
        }
        i {
            color: var(--900, #000);
            font-size: 14px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
        }
        &:before {
            transition-duration: 800ms;
            position: absolute;
            width: 210%;
            height: 290%;
            content: "";
            top: 162%;
            left: 50%;
            background: var(--P2, linear-gradient(90deg, #E5087B 0%, #FDD819 125.62%));
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%) rotate(-8deg);
            border-radius: 80%;
            z-index: -1;
        }
        &:hover {
            color: $white !important;
            &:before {
                top: -96%;
            }
            i {
                color: $white;
                transform: rotate(0deg);
                @include transition;
            }
        }
    }
    &.style2 {
        display: flex;
        width: 100%;
        height: 50px;
        max-width: 628px;
        padding: 20px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        border-radius: 10px;
        background: var(--P1, linear-gradient(270deg, #9708CC -54.69%, #43CBFF 99.85%));
        color: $white;
        font-family: $body-font;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px; /* 100% */
        text-transform: uppercase;

        position: relative;
        z-index: 1;
        overflow: hidden;
        transition: all 0.3s ease-in-out;

        @include breakpoint (max-md) {
            padding: 15px 28px;
        }
        a {
            color: $white!important;
            display: inline-block;
        }
        i {
            color: $white;
            font-weight: 500;
            transform: rotate(45deg);
            @include transition;
        }
        &:before {
            transition-duration: 800ms;
            position: absolute;
            width: 210%;
            height: 290%;
            content: "";
            top: 162%;
            left: 50%;
            background: var(--P2, linear-gradient(90deg, #E5087B 0%, #FDD819 125.62%));
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%) rotate(-8deg);
            border-radius: 80%;
            z-index: -1;
        }
        &:hover {
            color: $white !important;
            &:before {
                top: -96%;
            }
            i {
                color: $white;
                transform: rotate(0deg);
                @include transition;
            }
        }
    }
    &.style3 {
        display: flex;
        width: 100%;
        height: 50px;
        padding: 20px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        border-radius: 10px;
        background: var(--P1, linear-gradient(270deg, #9708CC -54.69%, #43CBFF 99.85%));
        color: $white;
        font-family: $body-font;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px; /* 100% */
        text-transform: uppercase;

        position: relative;
        z-index: 1;
        overflow: hidden;
        transition: all 0.3s ease-in-out;

        @include breakpoint (max-md) {
            padding: 15px 28px;
        }
        a {
            color: $white!important;
            display: inline-block;
        }
        i {
            color: $white;
            font-weight: 500;
            transform: rotate(45deg);
            @include transition;
        }
        &:hover {
            color: $white !important;
            background: var(--P2, linear-gradient(90deg, #E5087B 0%, #FDD819 125.62%));
            @include transition;
            i {
                color: $white;
                transform: rotate(0deg);
                @include transition;
            }
        }
    }

}

