@use '../root' as *;

// Floating cta section 
.service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  max-width: 1080px;
  height: 705px;
  padding: 40px;
  gap: 30px;
  border-radius: 20px;
  border: 1px solid var(--P2, #E5087B);
  background: $theme-color2;
  position: relative;
  @include breakpoint(max-xl) {
    max-width: 975px;
  }
  @include breakpoint(max-lg) {
    max-width: 600px;
    height: auto;
  }
  @include breakpoint(max-md) {
    padding: 15px;
    max-width: 500px;
  }
  &.service-alt {
    .service-alt__indicator {
      position: absolute;
      bottom: -31px;
      right: 17%;
      @include breakpoint(max-lg) {
        display: none;
      }
    }
  }
  &.service-main {
    .service-main__indicator {
      position: absolute;
      bottom: -31px;
      left: 30%;
      @include breakpoint(max-lg) {
        display: none;
      }
    }
  }
  &__shape1 {
    position: absolute;
    border-radius: 478px;
    opacity: 0.2;
    background: var(--P1, linear-gradient(270deg, #9708CC -54.69%, #43CBFF 99.85%));
    filter: blur(150px);
    width: 478px;
    height: 478px;
    flex-shrink: 0;
  }
  &__shape2 {
    position: absolute;
    border-radius: 478px;
    opacity: 0.2;
    background: linear-gradient(90deg, #E5087B 0%, #FDD819 125.62%);
    filter: blur(150px);
    width: 478px;
    height: 478px;
    flex-shrink: 0;
  }

  &-thumb {
    position: relative;
    padding: 20px;
    border-radius: 20px;
    background: $white;
    box-shadow: $shadow;
    max-width: 485px;
    position: relative;
    z-index: 5;
    @include breakpoint (max-lg){
      display: none;
    }
    &__one {
      border-radius: 20px;
      margin-bottom: 30px;
      overflow: hidden;
      
      img {
        width: 100%;
        border-radius: 20px;
        @include transition;
      }
      &:hover {
        img {
          transform: scale(1.1);
          @include transition;
        }
      }
    }
    &__btn {
      position: absolute;
      bottom: 35%;
      left: 8%;
      display: inline-flex;
      height: 50px;
      padding: 20px;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 10px;
      background: var(--P2, linear-gradient(90deg, #E5087B 0%, #FDD819 125.62%));
      color: $white;
      font-family: $body-font;
      font-size: 17px;
      font-style: normal;
      font-weight: 700;
      line-height: 17px; /* 100% */
      text-transform: uppercase;
      @include transition;
      &:hover {
        background: var(--P1, linear-gradient(270deg, #9708CC -54.69%, #43CBFF 99.85%));
        @include transition;
        a {
          color: $white;
        }
      }
    }
    &-content {
      padding: 0px 20px;
      &__title {
        color: $black;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: $body-font;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px; /* 150% */
        letter-spacing: 0.36px;
        padding-bottom: 18px;
        &:hover {
          background: var(--P2, linear-gradient(90deg, #E5087B 0%, #FDD819 125.62%));
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          cursor: pointer;
        }
  
      }
      &__desc {
        color: $title-color2;
        font-family: $body-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; 
        letter-spacing: 0.16px;
        padding-bottom: 10px;
      }
    }
  }
  &-list {
    z-index: 5;
    &-item {
      display: flex;
      align-items: center;
      gap: 20px;
      @include breakpoint (max-xsmall){
        gap: 10px;
      }
      &__icon {
        padding-bottom: 40px;
        flex: none;
        @include breakpoint (max-lg){
          padding-bottom: 0px;
        }
        @include breakpoint (max-xsmall){
          width: 13%;
        }
      }
      &-content {
        @include breakpoint (max-xsmall){
          max-width: 290px;
        }
        @include breakpoint (max-xxsmall){
          max-width: 254px;
        }
        &__title {
          color: $black;
          font-feature-settings: 'liga' off, 'clig' off;
          font-family: $body-font;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 30px; /* 150% */
          letter-spacing: 0.36px;
          padding-bottom: 15px;
          @include breakpoint (max-lg){
            padding-bottom: 5px;
          }
          @include breakpoint (max-xs){
            font-size: 18px;
            line-height: 25px;
          }
          &:hover {
            background: var(--P2, linear-gradient(90deg, #E5087B 0%, #FDD819 125.62%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            cursor: pointer;
          }
        }
        &__desc {
          color: $title-color2;
          font-family: $body-font;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px; /* 166.667% */
          letter-spacing: 0.16px;
          @include breakpoint (max-xs){
            font-size: 16px;
            line-height: 25px;
          }
        }
        &__border {
          margin-top: 20px;
          margin-bottom: 25px;
          background: linear-gradient(270deg, #9708CC -54.69%, #43CBFF 99.85%);
          width: 405px;
          height: 1px;
          @include breakpoint (max-xl){
            width: 320px;
          }
          @include breakpoint (max-lg){
            margin-top: 10px;
            margin-bottom: 10px;
            width: 436px;
          }
          @include breakpoint (max-md){
            width: 375px;
          }
          @include breakpoint (max-sm){
            width: 385px;
          }
          @include breakpoint (max-xs){
            width: 340px;
          }
          @include breakpoint (max-xsmall){
            width: 295px;
          }
          @include breakpoint (max-xxsmall){
            width: 249px;
          }
        }
      }
    }
  }
}

.project-nav {
  display: flex;
  gap: 30px;
  width: 100%;
  max-width: 835px;
  height: 80px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  background: var(--P1, linear-gradient(270deg, #9708CC -54.69%, #43CBFF 99.85%));
  padding: 30px 50px;
  @include breakpoint (max-lg){
    gap: 10px;
    max-width: 724px;
  }
  @include breakpoint (max-md){
    gap: 10px;
    max-width: 567px;
  }
  @include breakpoint (max-sm){
    max-width: 469px;
  }
  @include breakpoint (max-xs){
    gap: 5px;
    max-width: 441px;
  }

  &__btn {
    display: inline-flex;
    height: 40px;
    padding: 20px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid $theme-color2;
    color: $white;
    font-family: $body-font;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px; 
    text-transform: uppercase;
    cursor: pointer;
    @include breakpoint (max-md){
      font-size: 12px;
    }
    @include breakpoint (max-xsmall){
      padding: 13px;
    }
    @include breakpoint (max-xxsmall){
      padding: 7px;
    }
    &--start {
      border-radius: 10px;
      background: var(--P2, linear-gradient(90deg, #E5087B 0%, #FDD819 125.62%));
      display: inline-flex;
      height: 50px;
      padding: 8px 20px;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border: none;
      @include breakpoint (max-sm) {
        padding: 8px 17px;
        span {
          display: none;
        }
      }
    }

    &:hover {
      color: $white;
    }
  }
}


.service-project {
  position: fixed;
  bottom: 15px;
  left: 0;
  width: 100%;
  z-index: 999;
  @include breakpoint (max-lg){
    bottom: 0;
  } 
}

.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  z-index: 998;
  transition: opacity 0.4s ease;
}
.blur-overlay.active {
  opacity: 1;
  pointer-events: auto;
}


.service-wrapper {
  position: relative;
  .service {
    opacity: 0;
    visibility: hidden;
    @include transition;


    position: absolute;
    top: -745px;
    z-index: 10;
    @include breakpoint (max-lg){
      top: -545px;
    }
    @include breakpoint (max-md){
      top: -495px;
    }
    @include breakpoint (max-xs){
      top: -435px;
    }
    @include breakpoint (max-xsmall){
      top: -485px;
    }
    @include breakpoint (max-xxsmall){
      top: -520px;
    }
  }

  .project-nav__btn:hover ~ .service,
  .project-nav:hover ~ .service,
  .service:hover {
    opacity: 1;
    visibility: visible;
    @include transition;
  }
}


.service {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, transform 0.4s ease;

  &.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    @include transition;
  }
}