@use '../root' as *;

/*----------------------------------------------
    # Helping  style here
----------------------------------------------*/
//page scroll bar add
::-webkit-scrollbar {
	width: 10px;
	height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px $theme-color;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: $theme-color;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
//page scroll bar add

//Basic Code Start
.fix {
  overflow: hidden;
}

.ralt{
 position: relative;
}

//Basic Code End

//Video Css Start
.ripple {
  position: relative;

  &::before,&::after {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 60px;
      height: 60px;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgba(56, 75, 255, 0.5);
      -webkit-animation: rippleOne 3s infinite;
      animation: rippleOne 3s infinite;
  }

  &::before {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
  }

  &::after {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
  }
}
//Video Css End

/* background */
.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

// Padding
.section-padding {
  padding: 150px 0;

  @include breakpoint(max-xxl) {
    padding: 120px 0;
  }

  @include breakpoint(max-lg) {
    padding: 100px 0;
  }

  @include breakpoint(max-md) {
    padding: 80px 0;
  }

  @include breakpoint(max-sm) {
    padding: 60px 0;
  }
}

.section-padding-110 {
  padding: 110px 0;

  @include breakpoint(max-lg) {
    padding: 100px 0;
  }

  @include breakpoint(max-md) {
    padding: 80px 0;
  }

  @include breakpoint(max-sm) {
    padding: 60px 0;
  }
}

.section-padding-footer {
  padding: 240px 0;

  @include breakpoint(max-xxl) {
    padding: 160px 0;
  }
  @include breakpoint(max-xl) {
    padding: 60px 0;
  }
}
.section-padding-footer2 {
  padding: 180px 0;

  @include breakpoint(max-xxl) {
    padding: 120px 0;
  }
  @include breakpoint(max-xl) {
    padding: 30px 0;
  }
}

.fix-pb-50 {
  padding-bottom: 50px;
  @include breakpoint (max-md){
    padding-bottom: 20px;
  }
}
.fix-pb-60 {
  padding-bottom: 60px;
  @include breakpoint (max-md){
    padding-bottom: 40px;
  }
}
.fix-pb-70 {
  padding-bottom: 70px;
  @include breakpoint (max-md){
    padding-bottom: 40px;
  }
}
.fix-pb-80 {
  padding-bottom: 80px;
  @include breakpoint (max-md){
    padding-bottom: 40px;
  }
}
.fix-pb-90 {
  padding-bottom: 90px;
  @include breakpoint (max-md){
    padding-bottom: 40px;
  }
  @include breakpoint (max-sm){
    padding-bottom: 20px;
  }
}
.fix-pb-100 {
  padding-bottom: 100px;
  @include breakpoint (max-lg){
    padding-bottom: 70px;
  }
  @include breakpoint (max-md){
    padding-bottom: 40px;
  }
}

.fix-mb-120 {
  margin-bottom: 120px;
  @include breakpoint (max-xl){
    margin-bottom: 80px;
  }
  @include breakpoint (max-lg){
    margin-bottom: 30px;
  }
  @include breakpoint (max-md){
    margin-bottom: 20px;
  }
}
.fix-mb-220 {
  margin-bottom: 220px;
  @include breakpoint (max-xxl){
    margin-bottom: 170px;
  }
  @include breakpoint (max-xl){
    margin-bottom: 90px;
  }
  @include breakpoint (max-lg){
    margin-bottom: 60px;
  }
}

.mxw-405 {
  max-width: 405px;
  @include breakpoint (max-xl){
    max-width: 100%;
  }
}

.mxw-636 {
  max-width: 636px;
}

.mxw-570 {
  max-width: 570px;
}

.bg-pricing2 {
  border-radius: 5px;
  background: var(--100, #FCF9EB);
  padding: 130px 90px;
  @include breakpoint (max-xl){
    padding: 60px 40px;
  }
  @include breakpoint (max-md){
    padding: 30px 30px;
  }
  @include breakpoint (max-xs){
    padding: 20px 15px;
  }
}

.bg-light-blue {
  background: var(--100, #F7FAFF);
}


// Cart Design Start
.cart {
  &__title {
    color: var(--900, #000);
    font-family: $body-font;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 44px; /* 110% */
    letter-spacing: 0.36px;
    text-align: center;
    margin-bottom: 40px;
    @include breakpoint(max-lg) {
      font-size: 34px;
      line-height: 42px;
      margin-bottom: 20px;
    }

    @include breakpoint(max-md) {
      font-size: 28px;
      line-height: 36px;
    }

    @include breakpoint(max-sm) {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 15px;
    }
  }

  &__table {
    margin: 0 auto;
  }

  &__header,
  &__row {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    @include breakpoint (max-md){
      grid-template-columns: 2fr 1fr 1fr 1fr;
    }
    @include breakpoint (max-xxsmall){
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &__col {
    color: var(--900, #000);
    font-family: $body-font;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 34px; 
    letter-spacing: 0.36px;
    @include breakpoint (max-lg){
      font-size: 20px;
    }
    @include breakpoint (max-md){
      font-size: 18px;
    }
    @include breakpoint (max-sm){
      font-size: 16px;
    }
    @include breakpoint (max-xxsmall){
      font-size: 14px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 40px;
    @include breakpoint (max-lg){
      gap: 30px;
    }

    img {
      border-radius: 5px;
      @include breakpoint (max-lg){
        width: 40%;
      }
      @include breakpoint (max-md){
        display: none;
      }
    }

    @include breakpoint(max-md) {
      justify-content: center;
      flex-direction: column;
    }
  }

  &__details {
    .cart__label {
      display: block;
      color: var(--900, #000);
      font-family: $body-font;
      font-size: 20px;
      font-style: normal;
      font-weight: 900;
      line-height: 30px; /* 150% */
      letter-spacing: 0.36px;
      padding-bottom: 10px;
      @include breakpoint (max-xl){
        font-size: 16px;
      }
      @include breakpoint (max-sm){
        font-size: 14px;
      }
    }

    .cart__name {
      color: var(--900, #000);
      font-family: $body-font;
      font-size: 30px;
      font-style: normal;
      font-weight: 900;
      line-height: 44px;
      letter-spacing: 0.36px;
      padding-bottom: 10px;
      @include breakpoint (max-xl){
        font-size: 24px;
        line-height: 36px;
      }
      @include breakpoint (max-lg){
        font-size: 20px;
        line-height: 28px;
      }
      @include breakpoint (max-sm){
        font-size: 16px;
      }
      @include breakpoint (max-xs){
        padding-bottom: 0;
      }
    }

    .cart__link {
      background: var(--P1, linear-gradient(270deg, #9708CC -54.69%, #43CBFF 99.85%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-feature-settings: 'liga' off, 'clig' off;
      font-family: $body-font;
      font-size: 24px;
      font-style: normal;
      font-weight: 900;
      line-height: 34px; /* 141.667% */
      letter-spacing: 0.36px;
      text-decoration: underline;
      @include breakpoint (max-xl){
        font-size: 18px;
      }
      @include breakpoint (max-sm){
        font-size: 16px;
      }
      @include breakpoint (max-xxsmall){
        font-size: 14px;
      }
    }
  }

  &__price,
  &__total {
    text-align: end;
    color: var(--900, #000);
    font-family: $body-font;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 34px; /* 141.667% */
    letter-spacing: 0.36px;
    @include breakpoint (max-lg){
      font-size: 20px;
    }
    @include breakpoint (max-md){
      font-size: 18px;
    }
    @include breakpoint (max-sm){
      font-size: 16px;
    }
    @include breakpoint (max-xxsmall){
      font-size: 14px;
    }
    span {
      color: var(--900, #000);
      font-family: $body-font;
      font-size: 40px;
      font-style: normal;
      font-weight: 900;
      line-height: 44px; /* 110% */
      letter-spacing: 0.36px;
      @include breakpoint(max-lg) {
        font-size: 34px;
        line-height: 42px;
      }

      @include breakpoint(max-md) {
        font-size: 28px;
        line-height: 36px;
      }

      @include breakpoint(max-sm) {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }

  &__quantity {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;

    &--total {
      color: var(--900, #000);
      font-family: $body-font;
      font-size: 40px;
      font-style: normal;
      font-weight: 900;
      line-height: 44px; /* 110% */
      letter-spacing: 0.36px;
      @include breakpoint(max-lg) {
        font-size: 34px;
        line-height: 42px;
      }

      @include breakpoint(max-md) {
        font-size: 28px;
        line-height: 36px;
      }

      @include breakpoint(max-sm) {
        font-size: 24px;
        line-height: 32px;
      }
    }

    .qty-btn {
      display: inline-flex;
      height: 40px;
      padding: 10px 20px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border-radius: 10px;
      border: 1px solid var(--200, #C1C1C1);
      @include breakpoint (max-md){
        padding: 10px 15px;
        height: 30px;
      }
      @include breakpoint (max-xsmall){
        padding: 6px 10px;
        height: 26px;
      }
      &__numb {
        color: var(--900, #000);
        font-family: $text-font2;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 0 10px;
        @include breakpoint (max-xs){
          padding: 0 6px;
        }
      }
    }
  }
}


// Check Out Section
.checkOut {
  &-billingCard {
    padding: 40px;
    border-radius: 20px;
    border: 1px solid var(--200, #C1C1C1);
    background: var(--White, #FFF);
    &__title {
      color: #000;
      font-family: $body-font;
      font-size: 30px;
      font-style: normal;
      font-weight: 900;
      line-height: 44px; 
      letter-spacing: 0.36px;
      padding-bottom: 15px;
    }
    &__text {
      color: var(--800, #6B7280);
      font-family: $body-font;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 166.667% */
      letter-spacing: 0.16px;
      padding-bottom: 16px;
    }
  }
  &-orderSummary {
    padding: 40px;
    border-radius: 20px;
    border: 1px solid var(--200, #C1C1C1);
    background: var(--100, #F7FAFF);
    &__title {
      border-bottom: 1px solid #C1C1C1;
      color: #000;
      font-family: $body-font;
      font-size: 30px;
      font-style: normal;
      font-weight: 900;
      line-height: 44px; 
      letter-spacing: 0.36px;
      padding-bottom: 15px;
      margin-bottom: 15px;
    }
    &-info {
      display: flex;
      justify-content: space-between;
      color: var(--800, #6B7280);
      font-family: $body-font;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 166.667% */
      letter-spacing: 0.16px;
      border-bottom: 1px solid #C1C1C1;
      padding-bottom: 18px;
      margin-bottom: 20px;
      &.total {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
        color: var(--900, #000);
        font-family: $body-font;
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: 30px; /* 150% */
        letter-spacing: 0.36px;
      }
    }
  }
  &-paymentCard {
    padding: 40px;
    border-radius: 20px;
    background: var(--100, #F7FAFF);
    &__title {
      border-bottom: 1px solid #C1C1C1;
      padding-bottom: 15px;
      margin-bottom: 20px;
    }
    &-info {
      display: flex;
      gap: 50px;
    }

  }
}

//Search button 
.search-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 560px;
  height: 60px;
  padding: 5px 5px;
  border-radius: 999px;
  border: 1px solid var(--200, #C1C1C1);
  background: var(--100, #F7FAFF);
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 12px 20px;
  color: var(--800, #6B7280);
  font-family: $body-font;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; 
  letter-spacing: 0.16px;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 999px;
  background: var(--P1, linear-gradient(270deg, #9708CC -54.69%, #43CBFF 99.85%));
}

.search-btn i {
  color: var(--White, #FFF);
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}


//Filter Box
.filter-box {
  display: flex;
  border-radius: 5px;
  border: 1px solid var(--200, #C1C1C1);
  overflow: hidden;
  max-width: 470px;
  height: 60px;
  background: var(--White, #FFF);
  @include breakpoint (max-md){
    width: 100%;
    max-width: none;
  }
}

.filter-item {
  position: relative;

  &--one {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-right: 1px solid var(--200, #E2E2E2);
    gap: 8px;
    max-width: 249px;
    width: 100%;

    select {
      padding-right: 20px;
      background-position: right 0px center;
    }
    @include breakpoint (max-lg){
      padding: 12px 4px;
      gap: 4px;
    }
    @include breakpoint (max-md){
      padding: 12px 16px;
      gap: 8px;
    }
    @include breakpoint (max-xsmall){
      padding: 12px 6px;
      gap: 4px;
    }
    @include breakpoint (max-xxsmall){
      padding: 12px 4px;
      gap: 0px;
      padding-right: 2px;
    }
  }

  &--two {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-right: 1px solid var(--200, #E2E2E2);
    gap: 8px;
    max-width: 220px;
    width: 100%;

    select {
      padding-right: 20px;
      background-position: right 0px center;
    }
    @include breakpoint (max-lg){
      padding: 12px 4px;
      gap: 4px;
    }
    @include breakpoint (max-md){
      padding: 12px 16px;
      gap: 8px;
    }
    @include breakpoint (max-xsmall){
      padding: 12px 6px;
      gap: 4px;
    }
    @include breakpoint (max-xxsmall){
      padding: 12px 4px;
      gap: 0px;
      padding-right: 18px;
    }
  }

  &:last-child {
    border-right: none;
  }

  label {
    color: var(--900, #1D2128);
    font-family: $body-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0.36px;
    white-space: nowrap;
    @include breakpoint (max-lg){
      font-size: 16px;
    }
    @include breakpoint (max-xxsmall){
      font-size: 15px;
    }
  }

  select {
    border: none;
    appearance: none;
    background-image: url('../images/icon/dropdown-gradient-icon.svg');
    background-repeat: no-repeat;

    color: var(--800, #6B7280);
    font-family: $body-font;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.16px;
    @include breakpoint (max-lg){
      font-size: 16px;
    }
    @include breakpoint (max-xxsmall){
      font-size: 15px;
    }

    &:focus {
      outline: none;
    }
  }
}
