@use '../../root' as *;
@use '../../utilities' as *;

.faq1 {
    position: relative;
    background: var(--White, #FFF);
    box-shadow: 0px 5px 60px 0px rgba(0, 0, 0, 0.05);
    &-content {
      text-align: center;
      &__title {
        color: #000;
        text-align: center;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: Lato;
        font-size: 160.731px;
        font-style: normal;
        font-weight: 700;
        line-height: 192.877px;
        padding-bottom: 10px;
      }
      .faq-group {
        max-width: 790px;
        @include breakpoint (max-xxl){
          max-width: 470px;
        }
        @include breakpoint (max-xl){
          max-width: 100%;
        }
      }
    }
}
  