@use '../../root' as *;
@use '../../utilities' as *;

.faq1 {
    position: relative;
    background: $white;
    box-shadow: 0px 5px 60px 0px rgba(0, 0, 0, 0.05);
    &-box {
      box-shadow: none;
    }
    &-content {
      text-align: center;
      &__title {
        color: #000;
        text-align: center;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: $body-font;
        font-size: 160.731px;
        font-style: normal;
        font-weight: 700;
        line-height: 192.877px;
        padding-bottom: 10px;
        @include breakpoint (max-xxl){
          font-size: 130.731px;
          line-height: 172.877px;
        }
        @include breakpoint (max-lg){
          font-size: 80.731px;
          line-height: 95.877px;
        }
        @include breakpoint (max-sm){
          font-size: 62.731px;
          line-height: 65.877px;
        }
      }
      &__link {
        @include breakpoint (max-lg){
          display: none;
        }
        img {
          @include breakpoint (max-xxl){
            width: 40%;
          }
        }
      }
      .faq-group {
        max-width: 790px;
        @include breakpoint (max-xxl){
          max-width: 470px;
        }
        @include breakpoint (max-xl){
          max-width: 100%;
        }
      }
    }
}
  