@use '../../root' as *;
@use '../../utilities' as *;


/*----------------------------------------------
    # Footer style here
----------------------------------------------*/

.footer2 {
  position: relative;
  background: var(--700, #131215);
  &-shape1 {
    position: absolute;
    top: 0;
    z-index: 5;
    opacity: 0.1;
    @include breakpoint (max-xl2){
     display: none;
    }
  }
  &-shape2 {
      position: absolute;
      right: 0;
      z-index: 5;
      opacity: 0.1;
      @include breakpoint (max-xl2){
      display: none;
      }
  }

  &-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint (max-md){
      flex-direction: column;
    }
    &-item {
      display: flex;
      justify-content: center;
      gap: 20px;
      background: $yellow;
      padding: 35px 51px;
      width: 440px;
      height: 120px;

      @include breakpoint (max-xl){
        padding: 34px 13px;
      }
      @include breakpoint (max-lg){
        flex-direction: column;
        gap: 5px;
      }
      @include breakpoint (max-md){
        flex-direction: row;
        justify-content: start;
        gap: 15px;
        padding: 20px 22px;
        height: 90px;
      }
      @include breakpoint (max-xs){
        padding: 20px 64px;
      }
      &__icon {
        flex: none;
      }
      &-info {
        &__name {
          color: $white;
          font-family: $body-font;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 171.429% */
        }
        &__numb {
          color: $white;
          font-family: $body-font;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 26px; /* 108.333% */
          @include breakpoint (max-xxl) {
            font-size: 22px;
          }
          @include breakpoint (max-xl) {
            font-size: 20px;
          }
          @include breakpoint (max-xs){
            font-size: 18px;
          }
        }
      }
    }
    &-item2 {
      display: flex;
      justify-content: center;
      gap: 20px;
      background: $theme-color;
      padding: 35px 28px;
      width: 440px;
      height: 120px;
      @include breakpoint (max-xl){
        padding: 35px 35px;
      }
      @include breakpoint (max-lg){
        padding: 35px 5px;
        flex-direction: column;
        gap: 5px;
      }
      @include breakpoint (max-md){
        flex-direction: row;
        justify-content: start;
        gap: 15px;
        padding: 20px 22px;
        height: 90px;
      }
      @include breakpoint (max-xs){
        padding: 20px 64px;
      }
      &__icon {
        flex: none;
      }
      &-info {
        &__name {
          color: $white;
          font-family: $body-font;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 171.429% */
        }
        &__numb {
          color: $white;
          font-family: $body-font;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 26px; /* 108.333% */
          @include breakpoint (max-xxl) {
            font-size: 22px;
          }
          @include breakpoint (max-xl) {
            font-size: 20px;
          }
          @include breakpoint (max-xs){
            font-size: 18px;
          }
        }
      }
    }
    &-item3 {
      display: flex;
      justify-content: center;
      gap: 20px;
      background: $smoke;
      padding: 35px 5px;
      width: 440px;
      height: 120px;
      @include breakpoint (max-lg){
        flex-direction: column;
        gap: 5px;
      }
      @include breakpoint (max-md){
        flex-direction: row;
        justify-content: start;
        gap: 15px;
        padding: 20px 22px;
        height: 90px;
      }
      @include breakpoint (max-xs){
        padding: 20px 64px;
      }
      &__icon {
        flex: none;
      }
      &-info {
        &__name {
          color: $title-color;
          font-family: $body-font;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 171.429% */
        }
        &__numb {
          color: $title-color;
          font-family: $body-font;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 30px;
          @include breakpoint (max-xxl) {
            font-size: 22px;
          }
          @include breakpoint (max-xl) {
            font-size: 20px;
          }
          @include breakpoint (max-xs){
            font-size: 18px;
          }
        }
      }
    }
  }
  &-wrapper {   
    position: relative;
    z-index: 9;
    &-logoInfo {
      padding-bottom: 70px;
      padding-top: 75px;
      @include breakpoint (max-lg){
        padding-bottom: 25px;
      }
      &__logo {
        padding-bottom: 24px;
      }
      &__desc {
        color: var(--White, #FFF);
        font-family: $body-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; 
        padding-bottom: 22px;
        @include breakpoint (xl){
          padding-right: 60px;
        }
      }
    }

    &-service {
      padding-bottom: 70px;
      padding-top: 75px;
      @include breakpoint (max-lg){
        padding-bottom: 25px;
      }
      @include breakpoint (max-md){
        padding-bottom: 5px;
        padding-top: 7px;
      }
      &__title {
        color: var(--White, #FFF);
        font-family: Marcellus;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 136.364% */
        padding-bottom: 27px;
      }
      &-list {
        &__item {    
          &:not(:last-child) {
            padding-bottom: 20px;
          }
          a {
            color: var(--White, #FFF);
            font-family: Urbanist;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; 
            opacity: 0.9;
            &:hover {
              color: $theme-color;
            }
          }
          img {
            padding-right: 10px;
          }
        }
      }
    }
    &-about {
      padding-bottom: 70px;
      padding-top: 75px;
      @include breakpoint (xxl){
        padding-left: 65px;
      }
      @include breakpoint (max-lg){
        padding-bottom: 25px;
      }
      @include breakpoint (max-md){
        padding-bottom: 5px;
        padding-top: 7px;
      }
      &__title {
        color: var(--White, #FFF);
        font-family: Marcellus;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 136.364% */
        padding-bottom: 27px;
      }
      &-list {
        &__item {    
          &:not(:last-child) {
            padding-bottom: 20px;
          }
          a {
            color: var(--White, #FFF);
            font-family: Urbanist;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; 
            opacity: 0.9;
            &:hover {
              color: $theme-color;
            }
          }
          img {
            padding-right: 10px;
          }
        }
      }
    }
    &-link {
      padding-bottom: 70px;
      padding-top: 75px;
      @include breakpoint (max-lg){
        padding-bottom: 25px;
      }
      &__title {
        color: #FFF;
        font-family: $body-font;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px; /* 150% */
        padding-bottom: 27px;
      }
      &-list {
        &__item {    
          &:not(:last-child) {
            padding-bottom: 10px;
          }
          a {
            color: $white;
            font-family: $body-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 26px;
            &:hover {
              color: $theme-color;
            }
          }
          img {
            padding-right: 10px;
          }
        }
      }
    }    
    &-contact {
      padding-bottom: 100px;
      padding-top: 75px;
      @include breakpoint (max-md){
        padding-bottom: 0px;
        padding-top: 7px;
      }
      &__title {
        color: #FFF;
        font-family: $body-font;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px; /* 150% */
        padding-bottom: 27px;
      }
      &-list {
        &__item {    
          &:not(:last-child) {
            padding-bottom: 40px;
          }
          a {
            display: flex !important;
            align-items: center !important;
            color: var(--White, #FFF);
            font-feature-settings: 'liga' off, 'clig' off;
            font-family: Urbanist;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; /* 137.5% */
            &:hover {
              color: $theme-color;
            }

            img {
              padding-right: 10px;
            }
            .icon {
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 999px;
              border: 1px solid var(--P, #B8E451);
              background: var(--P, #B8E451);
              width: 65px;
              height: 65px;
              flex-shrink: 0;
              i {
                color: var(--900, #010003);
                font-size: 25px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
              }
            }
            .text span:first-child {
              color: var(--White, #FFF);
              font-family: Marcellus;
              font-size: 22px;
              font-style: normal;
              font-weight: 400;
              line-height: 30px; /* 136.364% */
              padding-bottom: 5px;
            }
          }
        }
      }
    }
    &-posts {
      padding-bottom: 100px;
      padding-top: 32px;
      @include breakpoint (max-md){
        padding-bottom: 25px;
      }
      &__title {
        color: #FFF;
        font-family: $body-font;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px; /* 150% */
        padding-bottom: 27px;
      }
      &-list {
        &__item {   
          display: flex;
          align-items: center;
          gap: 14px; 
          &:not(:last-child) {
            padding-bottom: 32px;
          }
          .icon {
            flex: none;
          }
          &__desc {
            display: flex;
            flex-direction: column;
            color: var(--White-Color-01, #FFF);
            font-family: $body-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; /* 162.5% */
          }
        }
      }
    }
  }

  &-bottom {
    background: $theme-color;
    position: relative;
    z-index: 9;

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      @include breakpoint (lg){
        flex-direction: row;
        gap: 10px;
      }
      @include breakpoint (max-xs){
        padding: 10px;
      }
  
      p {
        color: $white;
        font-family: $body-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
        @include breakpoint (max-xs){
          font-size: 14px;
        }
        @include breakpoint (max-xxsmall){
          font-size: 12px;
        }
  
        span {
          color: $yellow;
        }
      }
  
      &__links {
        a {
          color: $white;
          font-family: $body-font;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px; /* 162.5% */
  
          &:not(:last-child) {
            padding-right: 20px;
          }
          @include breakpoint (max-xs){
            font-size: 14px;
          }
          @include breakpoint (max-xxsmall){
            font-size: 12px;
          }
  
          &:hover {
            color: white;
          }
  
        }
      }
    }
    }
  }
  

