@use '../../root' as *;
@use '../../utilities' as *;


/*----------------------------------------------
    # Footer style here
----------------------------------------------*/

.footer1 {
  position: relative;
  background: $theme-color2;
  &-wrapper {   
    position: relative;
    z-index: 4;
    padding-top: 134px;
    &__logo {
      padding-top: 75px;
      padding-bottom: 10px;
    }
    &-company {
      padding-top: 75px;
      padding-bottom: 70px;
      @include breakpoint (max-lg){
        padding-bottom: 25px;
      }
      @include breakpoint (max-md){
        padding-top: 42px;
        padding-bottom: 5px;
      }
      &__title {
        color: $black;
        font-family: $body-font;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 34px; 
        letter-spacing: 0.36px;
        padding-bottom: 27px;
      }
      &-list {
        &__item {    
          &:not(:last-child) {
            padding-bottom: 20px;
          }
          a {
            color: var(--800, #6B7280);
            font-family: $body-font;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.16px;
            &:hover {
              color: $theme-color;
            }
          }
          img {
            padding-right: 10px;
          }
        }
      }
    }
    &-service {
      padding-bottom: 70px;
      padding-top: 75px;
      @include breakpoint (max-lg){
        padding-top: 0px;
        padding-bottom: 25px;
      }
      @include breakpoint (max-md){
        padding-bottom: 5px;
        padding-top: 7px;
      }
      &__title {
        color: $black;
        font-family: $body-font;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 34px; 
        letter-spacing: 0.36px;
        padding-bottom: 27px;
      }
      &-list {
        &__item {    
          &:not(:last-child) {
            padding-bottom: 20px;
          }
          a {
            color: var(--800, #6B7280);
            font-family: $body-font;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.16px;
            &:hover {
              color: $theme-color;
            }
          }
          img {
            padding-right: 10px;
          }
        }
      }
    }
    &-solution {
      padding-bottom: 70px;
      padding-top: 75px;
      @include breakpoint (max-xl){
        padding-top: 0px;
      }
      @include breakpoint (max-lg){
        padding-bottom: 25px;
      }
      @include breakpoint (max-md){
        padding-bottom: 5px;
        padding-top: 7px;
      }
      &__title {
        color: $black;
        font-family: $body-font;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 34px; 
        letter-spacing: 0.36px;
        padding-bottom: 27px;
      }
      &-list {
        &__item {    
          &:not(:last-child) {
            padding-bottom: 20px;
          }
          a {
            color: var(--800, #6B7280);
            font-family: $body-font;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.16px;
            &:hover {
              color: $theme-color;
            }
          }
          img {
            padding-right: 10px;
          }
        }
      }
    }
    &-product {
      padding-bottom: 70px;
      padding-top: 75px;
      @include breakpoint (max-xl){
        padding-top: 0px;
      }
      @include breakpoint (max-lg){
        padding-bottom: 25px;
      }
      @include breakpoint (max-md){
        padding-bottom: 5px;
        padding-top: 7px;
      }
      &__title {
        color: $black;
        font-family: $body-font;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 34px; 
        letter-spacing: 0.36px;
        padding-bottom: 27px;
      }
      &-list {
        &__item {    
          &:not(:last-child) {
            padding-bottom: 20px;
          }
          a {
            color: var(--800, #6B7280);
            font-family: $body-font;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.16px;
            &:hover {
              color: $theme-color;
            }
          }
          img {
            padding-right: 10px;
          }
        }
      }
    }
    &-contact {
      padding-bottom: 50px;
      padding-top: 20px;
      @include breakpoint (max-md){
        padding-bottom: 30px;
        padding-top: 7px;
      }
      &__title {
        color: #FFF;
        font-family: $body-font;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px; /* 150% */
        padding-bottom: 27px;
      }
      &-list {
        &__item {    
          &:not(:last-child) {
            padding-bottom: 40px;
          }
          a {
            display: flex !important;
            align-items: center !important;
            color: $black;
            font-family: $text-font2;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 28.05px;
            &:hover {
              color: $theme-color;
            }

            img {
              padding-right: 10px;
            }
            .icon {
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 999px;
              border: 1px solid #C1C1C1;
              width: 50px;
              height: 50px;
              flex-shrink: 0;
              i {
                background: var(--P1, linear-gradient(270deg, #9708CC -54.69%, #43CBFF 99.85%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
            .text span:first-child {
              color: var(--800, #6B7280);
              font-family: $text-font1;
              font-size: 17px;
              font-style: normal;
              font-weight: 400;
              line-height: 28.05px; 
              padding-bottom: 5px;
            }
          }
        }
      }
    }
  }
  &-bottom {
    position: relative;
    z-index: 5;

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      border-top: 1px solid #C1C1C1;;
      @include breakpoint (lg){
        flex-direction: row;
        gap: 10px;
      }
      @include breakpoint (max-xs){
        padding: 10px;
      }  
      
      &__links {
        display: flex;
        gap: 20px;
        @include breakpoint (max-lg){
          display: flex;
          gap: 5px;
          flex-wrap: wrap;
          justify-content: center;
          margin-bottom: 14px;
        }
        p {
          color: $black;
          font-family: $title-font;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 27.2px; 
          opacity: 0.8;
          @include breakpoint (max-xs){
            font-size: 14px;
          }
          @include breakpoint (max-xxsmall){
            font-size: 12px;
          }
        }
        a {
          color: $black;
          font-family: $title-font;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 27.2px; 
          opacity: 0.8;
  
          &:not(:last-child) {
            padding-right: 20px;
            @include breakpoint (max-xs){
              padding-right: 10px;
            }
          }
          @include breakpoint (max-xs){
            font-size: 14px;
          }
          @include breakpoint (max-xxsmall){
            font-size: 12px;
          }
  
          &:hover {
            color: $theme-color;
          }
  
        }
      }
      &__payment {
        display: flex;
        gap: 20px;
      }
    }
    }
  }
  

