@use '../../root' as *;
@use '../../utilities' as *;

//>>>>> Breadcrumb Start <<<<<//
.breadcrumb {
    overflow: hidden;
    padding: 62px 0 52px 0;
    margin: 0 auto;
    margin-top: 93px;

    position: relative;
	overflow: hidden;
    background: var(--100, #F7FAFF);
  
    @include breakpoint (max-md) {
        padding: 40px 40px ;
    }  
  
    &-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 6;
        text-align: center;
        &__items {
            display: inline-flex;
            padding: 10px 15px;
            align-items: center;
            gap: 6px;
            border-radius: 999px;
            border: 1px solid var(--200, #C1C1C1);
            margin-bottom: 20px;
    
            @include breakpoint (max-md) {
            margin-top: 15px;
            }
    
            li {
                color: var(--900, #000);
                font-feature-settings: 'liga' off, 'clig' off;
                font-family: Lato;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 30px; 
                letter-spacing: 0.36px;
                &:hover {
                    color: $theme-color;
                }
        
                a {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    color: var(--800, #6B7280);
                    font-feature-settings: 'liga' off, 'clig' off;
                    font-family: Lato;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 30px; 
                    letter-spacing: 0.36px;
                    @include transition;
        
                    &:hover {
                        color: $theme-color;
                    }
                }
        
                i {
                    color: $white;
                    text-align: center;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: normal;
                }
            }
        }  
        &__title {
            color: var(--900, #000);
            text-align: center;
            font-family: Lato;
            font-size: 40px;
            font-style: normal;
            font-weight: 900;
            line-height: 44px; /* 110% */
            letter-spacing: 0.36px;
            max-width: 573px;
            padding: 20px;
            span {
                background: var(--P1, linear-gradient(270deg, #9708CC -54.69%, #43CBFF 99.85%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-feature-settings: 'liga' off, 'clig' off;
                font-style: italic;
            }
        }
        &__desc {
            color: var(--800, #6B7280);
            text-align: center;
            font-family: Lato;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px; 
            letter-spacing: 0.16px;
            max-width: 689px;
        }
    }
    &-shape1 {
        position: absolute;
        top: 0;
        z-index: 4;
        @include breakpoint (max-xl){
            display: none;
        }
    }
    &-shape2 {
        position: absolute;
        z-index: 4;
        opacity: 0.3;
        @include breakpoint (max-xl){
            display: none;
        }
    }
}
