@use '../../root' as *;
@use '../../utilities' as *;

.counter {
    position: relative;
    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include breakpoint (max-xxxl){
            flex-wrap: wrap;
            gap: 50px;
        }
        @include breakpoint (max-xl){
            justify-content: space-around;
        }
        &-box {
            padding: 53px 0 30px;
            position: relative;
            border-radius: 5px;
            border: 1px dashed var(--200, #CCC);
            background: var(--100, #FCF9EB);
            width: 320px;
            height: 159px;
            &__icon {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 80px;
                height: 80px;
                flex-shrink: 0;
                border: 1px dashed var(--200, #CCC);
                background: var(--100, #FCF9EB);
                border-radius: 50px;
                img {
                    width: 40px;
                    height: 40px;
                    flex-shrink: 0;
                    aspect-ratio: 1/1;
                }
            }
            &__value {
                color: var(--900, #010003);
                text-align: center;
                font-family: Marcellus;
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: 50px; 
                padding-bottom: 14px;
                @include breakpoint (max-md) {
                    font-size: 24px;
                }
                img {
                    padding-right: 14px;
                    padding-bottom: 7px;
                }
            }
            &__label {
                p {
                    color: var(--900, #010003);
                    text-align: center;
                    font-family: Urbanist;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px; 
                }
            }
            &:hover {
                .counter {
                    &-item {
                        &-box {
                            &__icon {
                                background: $theme-color;
                                border: 1px solid $theme-color;
                            }
                        }
                    }
                }
            }
        }
    
    }
}

.counter2 {
    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include breakpoint (max-lg) {
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
        }

        &-box {
            margin-left: -50px;
            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: column;

            border-radius: 320px;
            border: 1px dashed $white;
            width: 320px;
            height: 320px;
            @include breakpoint (max-xxxl) {
                width: 300px;
                height: 300px;
            }
            @include breakpoint (max-xxl) {
                width: 250px;
                height: 250px;
            }
            @include breakpoint (max-xl) {
                width: 205px;
                height: 205px;
            }
            @include breakpoint (max-md) {
                margin-left: 0px;
            }


            &__value {
                color: $white;
                font-family: Marcellus;
                font-size: 60px;
                font-style: normal;
                font-weight: 400;
                line-height: 75px; 
                padding-bottom: 10px;
                @include breakpoint (max-xxl) {
                    font-size: 40px;
                    line-height: 50px; 
                }
            }
            &__label {
                p {
                    color: $white;
                    color: $white;
                    font-family: Marcellus;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px; 
                    @include breakpoint (max-xxl) {
                        font-size: 18px;
                    }
                }
            }
            &:hover {
                background: var(--P, #B8E451);
                border: 1px dashed #B8E451;    
                @include transition;                        
                .counter2 {
                    &-item {
                        &-box {
                            &__value {
                                color: $black;
                                @include transition;                        
                            }
                            &__label {
                                p {
                                    color: $black;
                                    @include transition;                       
                                }
                            }
                        }
                    }
                }
            }
        }
    
    }
}


