@use '../../root' as *;
@use '../../utilities' as *;

.author-meta {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fancy-box1 {
    display: flex;
    align-items: center;
    gap: 10px;

    &-item {
      &__icon {
        border-radius: 50px;
        background: white;
        width: 60px;
        height: 60px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px dashed black;
        @include breakpoint (max-sm){
          width: 50px;
          height: 50px;
          img {
            width: 50%;
          }
        }
      }
      &__star {
        display: flex;
        align-items: center;
        &--numb {
          color: #000;
          text-align: center;
          font-family: $body-font;
          font-size: 20px;
          font-style: normal;
          font-weight: 900;
          line-height: 30px; /* 150% */
          letter-spacing: 0.36px;
        }
        i {
          color: #FFA800;
          font-size: 16px;
          font-style: normal;
          font-weight: 900;
          line-height: normal;
        }
      }
      h4 {
        color: var(--900, #000);
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: $body-font;
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: 44px; /* 220% */
        letter-spacing: 0.36px;
        span {
          color: var(--900, #000);
          text-align: center;
          font-family: $body-font;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 30px; /* 166.667% */
          letter-spacing: 0.16px;
        }
      }
    }
    .overlap {
      display: flex;
      &__two {
        margin-left: -14px;
      }
      &__three {
        margin-left: -14px;
      }
    }
}

.fancy-box2 {
    display: flex;
    align-items: center;
    gap: 24px;

    &-item {
      &__icon {
        border-radius: 50px;
        background: white;
        width: 60px;
        height: 60px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px dashed black;
      }
      &__star {
        i {
          color: #FFA800;
          font-size: 16px;
          font-style: normal;
          font-weight: 900;
          line-height: normal;
        }
      }
      h6 {
        color: var(--900, #000);
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: $body-font;
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: 30px; /* 150% */
      }
      p {
        color: var(--800, #6B7280);
        font-family: $body-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 166.667% */
        letter-spacing: 0.16px;
      }
    }
}



.fancy-box3 {
    display: flex;
    align-items: center;
    gap: 25px;

    &__item {
      h4 {
        color: var(--White, #FFF);
        font-family: Marcellus;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px; /* 128.571% */
        padding-bottom: 10px;
      }

      p {
        color: var(--White, #FFF);
        font-family: Urbanist;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 137.5% */
        opacity: 0.8;
      }
    }
}

.fancy-box4 {
    display: flex;
    align-items: center;
    gap: 20px;

    &__item {
      h6 {
        color: var(--900, #010003);
        font-family: Marcellus;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 136.364% */
        padding-bottom: 3px;
      }

      p {
        color: var(--900, #010003);
        font-family: Urbanist;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; 
        opacity: 0.8;
      }
    }
}
.fancy-box5 {
    display: flex;
    align-items: center;
    gap: 15px;

    &__item {
      h4 {
        color: var(--White, #FFF);
        font-family: Marcellus;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 125% */
      }

      p {
        color: var(--White, #FFF);
        font-family: Marcellus;
        font-size: 13.2px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
      }
    }
}


