@use '../../root' as *;
@use '../../utilities' as *;


/*----------------------------------------------
    # Buttons style here
----------------------------------------------*/
.slider-btn {
    @include flex;
    gap: 30px;
    .style1 {
        display: flex;
        width: 67px;
        height: 67px;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 42px;
        background: rgba(43, 42, 44);

        i {
            color: $white;
            font-size: 17px;
            font-weight: 900;
        }

        img {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            max-width: fit-content;
        }

        @include breakpoint (max-sm) {
            width: 50px;
            height: 50px;
        }
        &:hover {
            background: $theme-color;
            @include transition;
            i {
                color: $black;
                font-size: 17px;
                font-weight: 900;
            }
        }
    }

    .style2 {
        display: flex;
        width: 50px;
        height: 50px;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 5px;
        background: var(--100, #FCF9EB);

        i {
            color: var(--P, #B8E451);
            font-size: 16px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
        }

        img {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            max-width: fit-content;
        }

        @include breakpoint (max-sm) {
            width: 50px;
            height: 50px;
        }
        &:hover {
            background: $theme-color;
            @include transition;
            i {
                color: $black;
                font-size: 16px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                @include transition;
            }
        }
    }

}

.slider-arrow {
    &.style1 {
        position: absolute;
        top: 63%;
        right: 95.5%;
        width: 60px;
        height: 60px;
        flex-shrink: 0;
        line-height: 36px;
        text-align: center;
        background: var(--100, #F7FAFF);
        border: 1px solid $title-color;
        z-index: 5;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        @include breakpoint (max-xxl){
            right: 94.5%;
        }
        &:hover {
            background: var(--P1, linear-gradient(270deg, #9708CC -54.69%, #43CBFF 99.85%));
            border: none;
            i {
                color: $white;
            }
        }

        &.slider-next {
            position: absolute;
            top: 63%;
            right: 1%;
            width: 60px;
            height: 60px;
            flex-shrink: 0;
            line-height: 36px;
            text-align: center;
            z-index: 5;
            background: var(--100, #F7FAFF);
            border: 1px solid $theme-color;
            transition: all 0.4s ease;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            &:hover {
                background: var(--P1, linear-gradient(270deg, #9708CC -54.69%, #43CBFF 99.85%));
                border: none;
                i {
                    color: $white;
                }
            }
        }
    }
}