@use '../../root' as *;
@use '../../utilities' as *;

.project3 {
    position: relative;
    &__shape1 {
        position: absolute;
        right: 23%;
        @include breakpoint (max-xxl){
            display: none;
        }
    }
    &-thumb1 {
        position: relative;
        border-radius: 27.065px;
        padding-left: 36px;
        @include breakpoint (max-xl){
            padding-left: 0;
        }
        &__shape1 {
            position: absolute;
            top: 10%;
            right: 11.5%;
            @include breakpoint (max-xxxl){
                top: 6%;
                right: -7%;
            }
            @include breakpoint (max-xl){
                display: none;
            }
        }
        &__shape2 {
            position: absolute;
            bottom: 7%;
            left: 0;
            @include breakpoint (max-xl){
                display: none;
            }
        }
        &__shape3 {
            position: absolute;
            bottom: 10%;
            right: 4%;
            @include breakpoint (max-xxxl){
                display: none;
            }
        }
        img {
            border-radius: 27.065px;
        }
    }
    &-thumb2 {
        position: relative;
        text-align: end;
        border-radius: 27.065px;
        padding-right: 60px;
        @include breakpoint (max-xl){
            text-align: start;
            padding-right: 0;
        }
        &__shape4 {
            position: absolute;
            top: -2.5%;
            left: 8.5%;
            z-index: 1;
            @include breakpoint (max-xxxl){
                left: -3%;
            }
            @include breakpoint (max-xxl){
                top: -4.5%;
                left: -5%;
            }
            @include breakpoint (max-xl){
                display: none;
            }
        }
        &__shape5 {
            position: absolute;
            right: 0;
            bottom: -8.5%;
            z-index: 1;
            @include breakpoint (max-xl){
                display: none;
            }
        }
        &__shape6 {
            position: absolute;
            bottom: -7%;
            left: 3%;
            z-index: 1;
            @include breakpoint (max-xxxl){
                left: -9%;
            }
            @include breakpoint (max-xxl){
                display: none;
            }
        }
        img {
            border-radius: 27.065px;
            position: relative;
            z-index: 3;
        }
    }
    &-thumb3 {
        position: relative;
        border-radius: 27.065px;
        padding-left: 60px;
        @include breakpoint (max-xxl){
            padding-left: 40px;
        }
        @include breakpoint (max-xl){
            padding-left: 0;
        }
        &__shape7 {
            position: absolute;
            top: -4%;
            left: 4%;
            z-index: 1;
            @include breakpoint (max-xxxl){
                display: none;
            }
        }
        &__shape8 {
            position: absolute;
            top: -7%;
            left: 0;
            z-index: 1;
            @include breakpoint (max-xxxl){
                top: -6%;
                left: 21px;
            }
            @include breakpoint (max-xxl){
                top: -6%;
                left: 10px;
            }
            @include breakpoint (max-xl){
                display: none;
            }
        }
        &__shape9 {
            position: absolute;
            bottom: 10%;
            right: 3%;
            @include breakpoint (max-xxxl){
                right: -12%;
            }
            @include breakpoint (max-xl){
                display: none;
            }
        }
        img {
            border-radius: 27.065px;
            position: relative;
            z-index: 3;
        }
    }
    &-content {
        &--one {
            @include breakpoint (max-xxxl){
                padding-left: 85px;
            }
            @include breakpoint (max-xxl){
                padding-left: 50px;
            }
            @include breakpoint (max-xl){
                padding-left: 0;
            }
        }
        &--two {
            @include breakpoint (max-xxxl){
                padding-right: 85px;
            }
            @include breakpoint (max-xxl){
                padding-right: 50px;
            }
            @include breakpoint (max-xl){
                padding-right: 0;
            }
        }
        &--three {
            @include breakpoint (max-xxxl){
                padding-left: 85px;
            }
            @include breakpoint (max-xxl){
                padding-left: 35px;
            }
            @include breakpoint (max-xl){
                padding-left: 0;
            }
        }
        &__title {
            color: $black;
            font-family: $body-font;
            font-size: 40px;
            font-style: normal;
            font-weight: 900;
            line-height: 44px; /* 110% */
            letter-spacing: 0.36px;
            padding-bottom: 20px;
            @include breakpoint (max-md){
                font-size: 35px;
            }
            @include breakpoint (max-sm){
                font-size: 32px;
            }
        }
        &__desc {
            color: $title-color2;
            font-family: $body-font;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px; /* 166.667% */
            letter-spacing: 0.16px;
            padding-bottom: 15px;
        }
    }
}  
