@use '../../root' as *;
@use '../../utilities' as *;

.project2 {
    padding-bottom: 75px;
    @include breakpoint (max-xxl){
        padding-bottom: 50px;
    }
    @include breakpoint (max-sm){
        padding-bottom: 20px;
    }
    &-card {
        &__thumb {
            padding-bottom: 30px;
            border-radius: 20px;
            img {
                border-radius: 20px;
            }
        }
        &__title {
            color: var(--900, #000);
            font-family: Lato;
            font-size: 40px;
            font-style: normal;
            font-weight: 900;
            line-height: 44px; /* 110% */
            letter-spacing: 0.36px;
            padding-bottom: 20px;
            @include breakpoint (max-md){
                font-size: 36px;
                padding-bottom: 10px;
            }
            @include breakpoint (max-xs){
                font-size: 32px;
                padding-bottom: 10px;
            }
        }
        &__desc {
            color: var(--800, #6B7280);
            font-family: Lato;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px; /* 166.667% */
            letter-spacing: 0.16px;
            padding-bottom: 30px;
        }
        &__title2 {
            color: var(--900, #000);
            font-family: Lato;
            font-size: 30px;
            font-style: normal;
            font-weight: 900;
            line-height: 44px; /* 146.667% */
            letter-spacing: 0.36px;
            padding-bottom: 20px;
        }
    }
}