@use '../../root' as *;
@use '../../utilities' as *;

.project1 {
    position: relative;
    &-card {
        position: relative;
        @include breakpoint (max-lg){
            margin-bottom: 40px;
            &.fix-mb {
                margin-bottom: 0;
            }
        }
        &-thumb {
            border-radius: 20px 20px 0px 0px;
            img {
                border-radius: 20px 20px 0px 0px;
                width: 100%;
            }
            &-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 0px 0px 20px 20px;
                background: var(--100, #F7FAFF);
                padding: 30px;
                @include breakpoint (max-sm){
                    padding: 20px;
                }
                &__title {
                    color: $black;
                    font-family: Lato;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 44px; 
                    letter-spacing: 0.36px;
                    @include breakpoint (max-lg){
                        font-size: 36px;
                        line-height: 42px;
                    }
                    @include breakpoint (max-md){
                        font-size: 32px;
                        line-height: 38px;
                    }
                    @include breakpoint (max-sm){
                        font-size: 28px;
                        line-height: 34px;
                    }
                }
                &__link {
                    display: flex;
                    width: 50px;
                    height: 50px;
                    padding: 6.25px;
                    justify-content: center;
                    align-items: center;
                    gap: 6.25px;
                    flex-shrink: 0;
                    border-radius: 25px;
                    background: var(--White, #FFF);
                    background: $theme-color;
                    @include breakpoint (max-sm){
                        width: 40px;
                        height: 40px;
                    }
                    svg {
                        width: 33.333px;
                        height: 33.333px;
                        flex-shrink: 0;
                        aspect-ratio: 33.33/33.33;
                        @include breakpoint (max-sm){
                            width: 23px;
                            height: 23px;
                        }
                    }
                    img {
                        width: 33.333px;
                        height: 33.333px;
                        flex-shrink: 0;
                        aspect-ratio: 33.33/33.33;
                        @include breakpoint (max-sm){
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }
            &--fix-padding1 {
                padding: 83px;
                padding-left: 0;
                @include breakpoint (max-xl){
                    padding: 30px;
                }
                @include breakpoint (max-lg){
                    padding: 0px;
                }
            }
            &--fix-padding2 {
                padding: 83px;
                padding-right: 0;
                @include breakpoint (max-xl){
                    padding: 30px;
                }
                @include breakpoint (max-lg){
                    padding: 0px;
                }
            }
        }
        &:hover {
            .project1 {
                &-card {
                    &-thumb {
                        &-content {
                            background: var(--P3, #6A5ACD);
                            @include transition;
                            &__title {
                                color: var(--White, #FFF);
                                @include transition;
                                a {
                                    color: $white;
                                }
                            }
                            &__link {
                                background: $white;
                                svg path {
                                    fill: $black;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}