@use '../root' as *;
@use '../utilities' as *;

.award1 {
    background: $theme-color2;
    margin-bottom: -70px;
    &-icon {
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 141px;
        row-gap: 60px;
        &__shape1 {
            position: absolute;
            top: 16%;
            @include breakpoint (max-xxxl){
                width: 90%;
            }
            @include breakpoint (max-xxl){
                width: 85%;
            }
            @include breakpoint (max-md){
                display: none;
            }
        }
        &__shape2 {
            position: absolute;
            top: 76%;
            @include breakpoint (max-xxxl){
                width: 63%;
            }
            @include breakpoint (max-md){
                display: none;
            }
        }

        @include breakpoint (max-xxxl){
            column-gap: 90px;
        }
        @include breakpoint (max-lg){
            column-gap: 50px;
            row-gap: 50px;
        }
        @include breakpoint (max-md){
            column-gap: 30px;
            row-gap: 30px;
        }
        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 999px;
            border: 2px dashed $black;
            background: $theme-color2;
            width: 145px;
            height: 145px;
            flex-shrink: 0;
            z-index: 1;
            img {
                width: 79.5px;
                height: 90px;
                flex-shrink: 0;
                aspect-ratio: 79.50/90.00;
            }
            @include breakpoint (max-lg){
                width: 120px;
                height: 120px;
                img {
                    width: 59.5px;
                    height: 70px;
                    flex-shrink: 0;
                    aspect-ratio: 79.50/90.00;
                }
            }
            @include breakpoint (max-md){
                width: 100px;
                height: 100px;
                img {
                    width: 49.5px;
                    height: 60px;
                    flex-shrink: 0;
                    aspect-ratio: 79.50/90.00;
                }
            }
            @include breakpoint (max-xsmall){
                width: 90px;
                height: 90px;
                img {
                    width: 39.5px;
                    height: 40px;
                    flex-shrink: 0;
                    aspect-ratio: 79.50/90.00;
                }
            }
        }
    }
    &__location {
        color: $black;
        text-align: center;
        font-family: $body-font;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: 65px; 
        letter-spacing: 0.49px;
        padding-top: 60px;
        padding-bottom: 60px;
        @include breakpoint(max-xxl) {
            font-size: 44px;
            line-height: 60px;
        }

        @include breakpoint(max-xl) {
            font-size: 40px;
            line-height: 55px;
        }

        @include breakpoint(max-lg) {
            font-size: 36px;
            line-height: 50px;
        }

        @include breakpoint(max-md) {
            font-size: 32px;
            line-height: 45px;
        }

        @include breakpoint(max-sm) {
            font-size: 28px;
            line-height: 40px;
        }

        @include breakpoint(max-xsmall) {
            font-size: 24px;
            line-height: 35px;
        }
        span {
            background: var(--P1, linear-gradient(270deg, #9708CC -54.69%, #43CBFF 99.85%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-feature-settings: 'liga' off, 'clig' off;
        }
    }
    &-card {
        display: flex;
        width: 474px;
        height: 151.59px;
        padding: 35.62px 155.784px 36.59px 156.11px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16.38px;
        flex-shrink: 0;
        border-radius: 10px;
        border: 1px dashed $theme-color;
        background: $white;
        box-shadow: $shadow;
        @include breakpoint (max-lg){
            width: 352px;
            height: 130.59px;
            padding: 30px;
        }
        @include breakpoint (max-sm){
            width: 100%;
            height: 100%;
            padding: 30px;
        }
        &__country {
            color: $black;
            text-align: center;
            font-family: $title-font;
            font-size: 18px;
            font-style: normal;
            font-weight: 800;
            line-height: 21.6px; /* 120% */
        }
    }
}