@use '../root' as *;
@use '../utilities' as *;

.cta1 {
    position: relative;
    &-banner {
        &__shape1 {
            position: absolute;
            bottom: 0;
            left: 0;
            @include breakpoint (max-xxl){
                display: none;
            }
        }
        &__shape2 {
            position: absolute;
            top: 0%;
            left: 4%;
            @include breakpoint (max-xxl){
                display: none;
            }
        }
        &__shape3 {
            position: absolute;
            bottom: 0;
            right: 0;
            @include breakpoint (max-xxl){
                display: none;
            }
        }
        &__shape4 {
            position: absolute;
            top: 0;
            right: 4%;
            @include breakpoint (max-xxl){
                display: none;
            }
        }
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background: linear-gradient(90deg, #6A5ACD 0%, #352D67 100%);
        padding: 106px 30px;

        &__title {
            text-align: center;
            max-width: 807px;
            padding-bottom: 30px;
        }
        &__btn {
            display: inline-flex;
            height: 50px;
            padding: 20px;
            align-items: center;
            gap: 8px;
            flex-shrink: 0;
            border-radius: 10px;
            background: var(--White, #FFF);
            color: var(--900, #000);
            font-family: Lato;
            font-size: 17px;
            font-style: normal;
            font-weight: 700;
            line-height: 17px; /* 100% */
            text-transform: uppercase;
            cursor: pointer;
            i {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
            }
            &:hover {
                background-color: $theme-color;
                color: $white;
                @include transition;
                i {
                    transform: rotate(0deg);
                    @include transition;
                }
            }
        }
    }
}