@use '../root' as *;
@use '../utilities' as *;

.map {
    position: relative;
    background: var(--P1, linear-gradient(270deg, #9708CC -54.69%, #43CBFF 99.85%));
    &__shape1 {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.1;
        @include breakpoint (max-xxxl){
            display: none;
        }
    }
    &__shape2 {
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0.1;
        @include breakpoint (max-xxxl){
            display: none;
        }
    }
    &__shape3 {
        position: absolute;
        bottom: 23%;
        right: 20.5%;
        @include breakpoint (max-xxxl){
            right: 10.5%;
        }
        @include breakpoint (max-xxl){
            display: none;
        }
    }
    &__country {
        position: absolute;
        bottom: 22%;
        right: 14.5%;
        display: flex;
        width: 100px;
        padding: 5px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 5px;
        background: var(--P2, linear-gradient(90deg, #E5087B 0%, #FDD819 125.62%));
        color: var(--White, #FFF);
        font-family: $body-font;
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: 30px; 
        @include breakpoint (max-xxxl){
            right: 4.5%;
        }
        @include breakpoint (max-xxl){
            display: none;
        }
    }
    &-area {
        position: relative;
        &__img {
            text-align: center;
        }
        &__icon1 {
            position: absolute;
            top: 18%;
            left: 28%;
            @include breakpoint (max-xxxl){
                left: 23%;
            }
            @include breakpoint (max-xxl){
                left: 19%;
            }
            @include breakpoint (max-xl){
                left: 15%;
            }
            @include breakpoint (max-md){
                img {
                    width: 70%;
                }
            }
        }
        &__icon2 {
            position: absolute;
            top: 36%;
            left: 29%;
            @include breakpoint (max-xxxl){
                left: 25%;
            }
            @include breakpoint (max-xxl){
                left: 21%;
            }
            @include breakpoint (max-xl){
                left: 18%;
            }
            @include breakpoint (max-md){
                img {
                    width: 70%;
                }
            }
        }
        &__icon3 {
            position: absolute;
            bottom: 23%;
            left: 37%;
            @include breakpoint (max-xxxl){
                left: 34%;
            }            
            @include breakpoint (max-xxl){
                left: 31%;
            }            
            @include breakpoint (max-xl){
                left: 28%;
            } 
            @include breakpoint (max-md){
                img {
                    width: 70%;
                }
            }
        }
        &__icon4 {
            position: absolute;
            right: 34%;
            top: 16%;
            @include breakpoint (max-md){
                img {
                    width: 70%;
                }
            }
        }
        &__icon5 {
            position: absolute;
            right: 39%;
            top: 31%;
            @include breakpoint (max-md){
                img {
                    width: 70%;
                }
            }
        }
        &__icon6 {
            position: absolute;
            right: 46%;
            top: 60%;
            @include breakpoint (max-md){
                img {
                    width: 70%;
                }
            }
        }
        &__icon7 {
            position: absolute;
            right: 26%;
            bottom: 17%;
            @include breakpoint (max-xxxl){
                right: 20%;
            }  
            @include breakpoint (max-xxl){
                right: 16%;
            }  
            @include breakpoint (max-xl){
                right: 10%;
            }  
            @include breakpoint (max-md){
                img {
                    width: 70%;
                }
            }
        }
    }
}