@use '../root' as *;
@use '../utilities' as *;

.map {
    position: relative;
    background: var(--P1, linear-gradient(270deg, #9708CC -54.69%, #43CBFF 99.85%));
    &__shape1 {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.1;
        @include breakpoint (max-xxxl){
            display: none;
        }
    }
    &__shape2 {
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0.1;
        @include breakpoint (max-xxxl){
            display: none;
        }
    }
    &__shape3 {
        position: absolute;
        bottom: 23%;
        right: 20.5%;
        @include breakpoint (max-xxxl){
            right: 10.5%;
        }
        @include breakpoint (max-xxl){
            display: none;
        }
    }
    &__country {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        bottom: 15%;
        left: 110%;
        width: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        @include transition;
        span {
            padding: 5px;
            border-radius: 5px;
            background: var(--P2, linear-gradient(90deg, #E5087B 0%, #FDD819 125.62%));
            color: $white;
            font-family: $body-font;
            font-size: 20px;
            font-style: normal;
            font-weight: 900;
            line-height: 30px; 
            @include breakpoint (max-lg){
                font-size: 16px;
                line-height: 24px;
            }
        }
        @include breakpoint (max-xxl){
            left: 20%;
            img {
                width: 37%;
            }
        }
        @include breakpoint (max-xl){
            left: 126%;
            img {
                display: none;
            }
        }
        @include breakpoint (max-md){
            left: 90%;
        }
        @include breakpoint (max-sm){
            left: -80%;
            bottom: 120%;
        }
    }
    &-area {
        position: relative;
        &__img {
            text-align: center;
        }
        &__icon1 {
            position: absolute;
            top: 18%;
            left: 28%;
            @include breakpoint (max-xxxl){
                left: 23%;
            }
            @include breakpoint (max-xxl){
                left: 19%;
            }
            @include breakpoint (max-xl){
                left: 15%;
            }
            @include breakpoint (max-lg){
                img {
                    width: 70%;
                }
            }
            &:hover {
                .map {
                    &__country {
                        visibility: visible;
                        opacity: 1;
                        @include transition;
                    }
                }
            }
        }
        &__icon2 {
            position: absolute;
            bottom: 23%;
            left: 37%;
            @include breakpoint (max-xxxl){
                left: 34%;
            }            
            @include breakpoint (max-xxl){
                left: 31%;
            }            
            @include breakpoint (max-xl){
                left: 28%;
            } 
            @include breakpoint (max-lg){
                img {
                    width: 70%;
                }
            }
            &:hover {
                .map {
                    &__country {
                        visibility: visible;
                        opacity: 1;
                        @include transition;
                    }
                }
            }
        }
        &__icon3 {
            position: absolute;
            bottom: 2%;
            left: 47%;
            @include breakpoint (max-xxxl){
                left: 50%;
            }            
            @include breakpoint (max-lg){
                img {
                    width: 70%;
                }
            }
            &:hover {
                .map {
                    &__country {
                        visibility: visible;
                        opacity: 1;
                        @include transition;
                    }
                }
            }
        }
        &__icon4 {
            position: absolute;
            right: 45%;
            top: 16%;
            @include breakpoint (max-lg){
                img {
                    width: 70%;
                }
            }
            &:hover {
                .map {
                    &__country {
                        visibility: visible;
                        opacity: 1;
                        @include transition;
                    }
                }
            }
        }
        &__icon5 {
            position: absolute;
            right: 39%;
            top: 31%;
            @include breakpoint (max-lg){
                img {
                    width: 70%;
                }
            }
            &:hover {
                .map {
                    &__country {
                        visibility: visible;
                        opacity: 1;
                        @include transition;
                    }
                }
            }
        }
        &__icon6 {
            position: absolute;
            right: 46%;
            top: 60%;
            @include breakpoint (max-lg){
                img {
                    width: 70%;
                }
            }
            &:hover {
                .map {
                    &__country {
                        visibility: visible;
                        opacity: 1;
                        @include transition;
                    }
                }
            }
        }
        &__icon7 {
            position: absolute;
            right: 26%;
            bottom: 17%;
            @include breakpoint (max-xxxl){
                right: 20%;
            }  
            @include breakpoint (max-xxl){
                right: 16%;
            }  
            @include breakpoint (max-xl){
                right: 10%;
            }  
            @include breakpoint (max-lg){
                img {
                    width: 70%;
                }
            }
            &:hover {
                .map {
                    &__country {
                        visibility: visible;
                        opacity: 1;
                        @include transition;
                    }
                }
            }
        }
    }
}