@use '../root' as *;
@use '../utilities' as *;

.milestone1 {
    position: relative;
    &-card {
        position: relative;
        border-radius: 0px 20px 20px 20px;
        background: var(--100, #F7FAFF);
        padding: 80px 50px 50px;
        max-width: 640px;
        margin-top: 35px;
        &__badge {
            position: absolute;
            top: -30px;
            left: 0;
            display: inline-flex;
            padding: 8px 35px;
            border-radius: 10px 10px 0px 0px;
            background: var(--P1, linear-gradient(270deg, #9708CC -54.69%, #43CBFF 99.85%));
            color: var(--White, #FFF);
            font-family: Lato;
            font-size: 30px;
            font-style: normal;
            font-weight: 900;
            line-height: 44px; /* 146.667% */
            letter-spacing: 0.36px;
        }        
        &__icon {
            position: absolute;
            right: 6%;
            top: 20%;
            border-radius: 8px;
            background: var(--White, #FFF);
            box-shadow: 0px 4px 48px 0px rgba(128, 0, 128, 0.30);
            width: 70px;
            height: 70px;
            flex-shrink: 0;
            aspect-ratio: 1/1;
            @include breakpoint (max-xxl){
                top: 15%;
            }
        }
        &__title {
            color: #000;
            font-family: Lato;
            font-size: 30px;
            font-style: normal;
            font-weight: 900;
            line-height: 44px; /* 146.667% */
            letter-spacing: 0.36px;
            padding-bottom: 30px;
        }
        &__desc {
            color: var(--800, #6B7280);
            font-family: Lato;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px; /* 166.667% */
            letter-spacing: 0.16px;
        }
    }
}