@use '../root' as *;
@use '../utilities' as *;

.resume1 {
    position: relative;
    z-index: 3;
    &-info {
        position: relative;
        padding: 80px 80px;
        border-radius: 5px;
        background: var(--100, #FCF9EB);
        display: flex;
        justify-content: space-between;
        gap: 80px;
        @include breakpoint (max-xxxl) {
            padding: 90px 70px;
            gap: 30px;
        }
        @include breakpoint (max-xxl) {
            padding: 65px 45px;
        }
        @include breakpoint (max-xl) {
            padding: 40px 45px;
            flex-direction: column;
            gap: 0;
        }
        @include breakpoint (max-xsmall) {
            padding: 20px 20px;
        }
        &__icon {
            position: absolute;
            right: 40%;
            @include breakpoint (max-xxl){
                display: none;
            }
        }
        &__title {
            color: var(--900, #010003);
            font-family: Marcellus;
            font-size: 60px;
            font-style: normal;
            font-weight: 400;
            line-height: 75px; /* 125% */
            max-width: 285px;
            border-left: 1px solid $black;
            padding-left: 36px;
            @include breakpoint (max-xl) {
                max-width: none;
                border-left: 0;
                padding-left: 0;
            }
            @include breakpoint (max-lg) {
                font-size: 50px;
            }
            @include breakpoint (max-xsmall) {
                font-size: 40px;
            }
            @include breakpoint (max-xxsmall) {
                font-size: 36px;
            }
        }

        &-form {
            width: 100%;
            &__label {
                color: var(--900, #010003);
                font-family: Marcellus;
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: 50px;
                padding-bottom: 30px; 
                @include breakpoint (max-xsmall) {
                    font-size: 34px;
                    padding-bottom: 20px;
                }
                @include breakpoint (max-xxsmall) {
                    font-size: 30px;
                }
            }
            &-wrap {
                position: relative;
                padding-bottom: 35px;
                max-width: 550px;
                @include breakpoint (max-lg) {
                    padding-bottom: 15px;
                }
                @include breakpoint (max-xsmall) {
                    padding-bottom: 0px;
                }
                &__upload {
                    display: inline-block;
                     border-radius: 5px;
                    border: 1px dashed var(--P, #B8E451);  
                    background: var(--100, #FCF9EB);
                    width: 100%;
                    height: 50px;
                    padding: 12px 40px 12px 20px;
                    outline: none;
                    box-sizing: border-box;
                    color: var(--900, #010003);
                    font-family: Urbanist;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px; 
                }
                input[type="file"] {
                    display: none;
                }
                &__input {
                    border-radius: 5px;
                    border: 1px dashed var(--P, #B8E451);  
                    background: var(--100, #FCF9EB);
                    width: 100%;
                    height: 50px;
                    padding: 12px 40px 12px 20px;
                    outline: none;
                    box-sizing: border-box;
    
                    color: var(--900, #010003);
                    font-family: Urbanist;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px; /* 137.5% */
                }
                &__button {
                    position: absolute;
                    right: 0;
                    border-radius: 5px;
                    background: var(--900, #010003);
                    padding: 17px 20px;
                    color: var(--White, #FFF);
                    font-family: Urbanist;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 14px; /* 87.5% */
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    @include breakpoint (max-xxsmall) {
                        padding: 17px 10px;
                    }
                    i {
                        color: $theme-color;
                        @include breakpoint (max-xxsmall) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}