@use '../root' as *;
@use '../utilities' as *;


/*----------------------------------------------
    # Title style here
----------------------------------------------*/
 .section-top {
    &__subtitle {
        display: flex;
        gap: 8px;
        background: var(--P1, linear-gradient(270deg, #9708CC -54.69%, #43CBFF 99.85%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: $body-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22.5px; 
        letter-spacing: 0.14px;
        margin-bottom: 12px;
        span {
            padding-right: 8px;
        } 
    }
    &__subtitle2 {
        display: flex;
        gap: 8px;
        color: $white;
        font-family: $body-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px; 
        letter-spacing: 1.5px;
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    &__title {
        color: $black;
        font-family: $body-font;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: 65px; /* 135.417% */
        letter-spacing: 0.49px;
        @include breakpoint(max-xl) {
            font-size: 42px;
            line-height: 56px;
        }
        @include breakpoint(max-lg) {
            font-size: 36px;
            line-height: 50px;
        }
        @include breakpoint(max-md) {
            font-size: 30px;
            line-height: 44px;
        }
        @include breakpoint(max-sm) {
            font-size: 26px;
            line-height: 38px;
        }
        span {
            background: var(--P1, linear-gradient(270deg, #9708CC -54.69%, #43CBFF 99.85%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-feature-settings: 'liga' off, 'clig' off;
        }
        .tag-title {
            background: var(--P2, linear-gradient(90deg, #E5087B 0%, #FDD819 125.62%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-feature-settings: 'liga' off, 'clig' off;
        }
    }
    &__title2 {
        color: $black;
        font-family: $body-font;
        font-size: 80px;
        font-style: normal;
        font-weight: 900;
        line-height: 65px; 
        letter-spacing: 0.49px;
        @include breakpoint (max-xxl){
            font-size: 66px;
            line-height: 76px;
        }
        @include breakpoint (max-xl){
            font-size: 62px;
            line-height: 76px;
        }
        @include breakpoint (max-lg){
            font-size: 52px;
            line-height: 64px;
        }
        @include breakpoint (max-md){
            font-size: 40px;
            line-height: 50px;
        }
        @include breakpoint (max-sm){
            font-size: 36px;
            line-height: 40px;
        }
        span {
            color: $theme-color;
        }
    }
    &__title3 {
        color: $white;
        font-family: $body-font;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: 65px; 
        letter-spacing: 0.49px;
        @include breakpoint(max-xl) {
            font-size: 42px;
            line-height: 56px;
        }
        @include breakpoint(max-lg) {
            font-size: 36px;
            line-height: 50px;
        }
        @include breakpoint(max-md) {
            font-size: 30px;
            line-height: 44px;
        }
        @include breakpoint(max-sm) {
            font-size: 26px;
            line-height: 38px;
        }
        span {
            color: $theme-color;
        }
    }

    &__desc {
        color: $title-color3;
        font-family: Urbanist;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; 
    }
    &__desc2 {
        color: $white;
        font-family: $body-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; 
    }
 }