@use '../root' as *;
@use '../utilities' as *;


/*----------------------------------------------
    # Title style here
----------------------------------------------*/
 .section-top {
    &__subtitle {
        display: flex;
        gap: 8px;
        color: var(--P3, #6A5ACD);
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22.5px; 
        letter-spacing: 0.14px;
        margin-bottom: 12px;
        span {
            padding-right: 8px;
        } 
    }
    &__subtitle2 {
        display: flex;
        gap: 8px;
        color: $white;
        font-family: $body-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px; 
        letter-spacing: 1.5px;
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    &__title {
        color: var(--900, #000);
        font-family: Lato;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: 65px; /* 135.417% */
        letter-spacing: 0.49px;
        @include breakpoint (max-xl) {
            font-size: 34px;
            line-height: 45px;
        }
        @include breakpoint (max-sm) {
            font-size: 30px;
            line-height: 40px;
        }
        span {
            color: $theme-color;
        }
    }
    &__title2 {
        color: var(--900, #000);
        font-family: Lato;
        font-size: 80px;
        font-style: normal;
        font-weight: 900;
        line-height: 65px; 
        letter-spacing: 0.49px;
        @include breakpoint (max-xl){
            font-size: 64px;
            line-height: 76px;
        }
        @include breakpoint (max-lg){
            font-size: 52px;
            line-height: 64px;
        }
        @include breakpoint (max-md){
            font-size: 40px;
            line-height: 50px;
        }
        @include breakpoint (max-sm){
            font-size: 36px;
            line-height: 40px;
        }
        span {
            color: $theme-color;
        }
    }
    &__title3 {
        color: var(--White, #FFF);
        font-family: Lato;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: 65px; 
        letter-spacing: 0.49px;
        @include breakpoint (max-xl) {
            font-size: 45px;
            line-height: 50px;
        }
        @include breakpoint (max-md) {
            font-size: 42px;
            line-height: 45px;
        }
        @include breakpoint (max-sm) {
            font-size: 30px;
            line-height: 40px;
        }
        span {
            color: $theme-color;
        }
    }

    &__desc {
        color: var(--900, #010003);
        font-family: Urbanist;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; 
    }
    &__desc2 {
        color: $white;
        font-family: $body-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; 
    }
 }