@use '../../root' as *;
@use '../../utilities' as *;

.blog2 {
    &-card {
        background: $white;
        margin-bottom: 40px;
        @include breakpoint (max-sm){
            margin-bottom: 15px;
        }
        &__thumb {
            border-radius: 20px;
            img {
                border-radius: 20px;
            }
        }
        &-content {
            &-meta {
                display: flex;
                align-items: center;
                gap: 25px;
                padding-top: 30px;
                padding-bottom: 11px;
                color: var(--800, #6B7280);
                font-family: $body-font;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px; 
                letter-spacing: 0.16px;
                @include breakpoint (max-xxl) {
                    gap: 15px;
                }
                @include breakpoint (max-md) {
                    gap: 10px;
                }
                @include breakpoint (max-sm) {
                    flex-wrap: wrap;
                    row-gap: 10px;
                }
                img {
                    padding-right: 6px;
                }
                &__user {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    color: var(--900, #000);
                    font-family: $body-font;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 30px; 
                    letter-spacing: 0.36px;
                    @include breakpoint (max-xl) {
                        display: none;
                    }
                }
                &__skill {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                }
                &__calendar {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                }
                &__comment {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                }
            }
            &__title{
                padding-bottom: 15px;
                color: var(--900, #000);
                font-family: $body-font;
                font-size: 30px;
                font-style: normal;
                font-weight: 900;
                line-height: 44px; /* 146.667% */
                letter-spacing: 0.36px;
                @include breakpoint (max-sm){
                    font-size: 26px;
                }
            }
            &__desc {
                padding-right: 5px;    
                color: var(--800, #6B7280);
                font-family: $body-font;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px; /* 166.667% */
                letter-spacing: 0.16px;            
            }
            &__quote {
                text-align: center;
                padding: 50px 50px;
                border-radius: 20px;
                background: var(--100, #F7FAFF);
                @include breakpoint (max-md){
                    padding: 30px 30px;
                }
                @include breakpoint (max-sm){
                    padding: 20px 20px 20px;
                }
                img {
                    padding-bottom: 21px;
                }
                p {
                    color: var(--800, #6B7280);
                    text-align: center;
                    font-family: $body-font;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px; /* 166.667% */
                    letter-spacing: 0.16px;
                    padding-bottom: 20px;
                }
                h4 {
                    color: var(--900, #000);
                    font-family: $body-font;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 30px; /* 150% */
                    letter-spacing: 0.36px;
                }
            }
            &-profile {
                    margin-top: 40px;
                    margin-bottom: 40px;
                &__thumb {
                    border-radius: 10px;
                    img {
                        border-radius: 10px;
                    }
                }
                &__title {
                    color: var(--900, #000);
                    font-family: $body-font;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 30px; /* 150% */
                    letter-spacing: 0.36px;
                    padding-bottom: 30px;
                }
                &__desc {
                    color: var(--800, #6B7280);
                    font-family: $body-font;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px; /* 166.667% */
                    letter-spacing: 0.16px;
                }
            }
            &-profile2 {
                    margin-top: 40px;
                    margin-bottom: 40px;
                    padding: 20px;
                    border-radius: 20px;
                    background: var(--100, #F7FAFF);
                &__thumb {
                    border-radius: 10px;
                    img {
                        border-radius: 10px;
                    }
                }
                &__subtitle {
                    display: inline-flex;
                    padding: 6px 24px;
                    justify-content: center;
                    align-items: center;
                    gap: 12px;
                    background: var(--P1, linear-gradient(270deg, #9708CC -54.69%, #43CBFF 99.85%));
                    width: fit-content;

                    color: $white;
                    text-align: center;
                    font-family: $body-font;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px; 
                    letter-spacing: 0.16px;
                    margin-bottom: 30px;
                }
                &__title {
                    color: var(--900, #000);
                    font-family: $body-font;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 30px; /* 150% */
                    letter-spacing: 0.36px;
                    padding-bottom: 30px;
                }
                &__desc {
                    color: var(--800, #6B7280);
                    font-family: $body-font;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px; /* 166.667% */
                    letter-spacing: 0.16px;
                    padding-bottom: 40px;
                }
                &__link {
                    color: var(--800, #6B7280);
                    font-family: $body-font;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 30px; /* 150% */
                    letter-spacing: 0.36px;
                }
            }
            &__title2{
                padding-top: 48px;
                padding-bottom: 25px;
                h5 {
                    color: $title-color;
                    font-family: $body-font;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 40px; 
                }
            }
            &-thumb {
                display: flex;
                gap: 30px;
                padding-bottom: 33px;
                padding-top: 30px;

                img {
                    border-radius: 20px;
                }
            }
            &-tagShare {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top: 1px solid rgba(38, 38, 38, 0.30);
                padding-top: 40px;
                margin-top: 35px;
    
                @include breakpoint (max-xxl) {
                    flex-direction: column;
                    align-items: start;
                    gap: 10px;
                }
                &-tags {
                    display: flex;
                    gap: 10px;
                    &__title {
                        color: $title-color;
                        font-family: $body-font;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        @include breakpoint (max-xs){
                            font-size: 22px;
                        }
                    }
                    &__name {
                        a {
                            height: 40px;
                            display: inline-flex;
                            padding: 9px 14px;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            border-radius: 4px;
                            border: 1px solid rgba(31, 31, 31, 0.14);
                            background: rgba(255, 255, 255, 0.00);
                            color: rgba(31, 31, 31, 0.70);
                            font-family: $body-font;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            &:hover {
                                background-color: $theme-color;
                                color: $white;
                            }
                        }
                    }
                }
                &-shareicon {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    &__title {
                        padding-right: 5px;
                        color: $title-color;
                        font-family: $body-font;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        @include breakpoint (max-xs){
                            font-size: 22px;
                        }
                    }
                }
            }
        }
        &-comment {
            &__title {
                padding-bottom: 30px;
                h3 {
                    color: var(--900, #000);
                    font-family: $body-font;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 44px; /* 146.667% */
                    letter-spacing: 0.36px;
                    @include breakpoint (max-xs){
                        font-size: 26px;
                    }
                    i {
                        color: $theme-color;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        padding-right: 10px;
                    }
                }
            }
            &-profile {
                position: relative;
                display: flex;
                gap: 20px;
                padding: 0 0 0;
                border-radius: 14px;
                background: $white;
                border: 1px solid transparent;
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0px;
                }
                @include breakpoint (max-xs) {
                    flex-direction: column;
                }

                &:nth-of-type(2) {
                    padding-bottom: 35px;
                    padding-right: 17px;
                }
                &:nth-of-type(3) {
                    margin-left: 78px;
                    @include breakpoint (max-md) {
                        margin-left: 0px;
                    }
                }
                
                &__thumb {
                    border-radius: 6px;
                    img {
                        border-radius: 6px;
                        max-width: fit-content;
                    }
                }
                &-content {
                    &__author {
                        h5 {
                            color: var(--900, #000);
                            font-family: $title-font;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 27.2px; /* 170% */
                        }
                    }
                    &__date {
                        padding-bottom: 17px;
                        p {
                            color: var(--800, #6B7280);
                            font-family: $body-font;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 30px; /* 166.667% */
                            letter-spacing: 0.16px;
                        }
                    }
                    &__desc {
                        p {
                            color: var(--800, #6B7280);
                            font-family: $body-font;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 30px; /* 166.667% */
                            letter-spacing: 0.16px;
                        }
                    }
                    &__reply {
                        position: absolute;
                        top: 17%;
                        right: 17%;
                        .btn {
                            display: flex;
                            gap: 7px;
                            border-radius: 5px;
                            border: 1px solid rgba(28, 28, 28, 0.10);
                            background: $white;
                            color: var(--900, #000);
                            font-family: $body-font;
                            font-size: 17px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 17px;
                            text-transform: uppercase;
                            cursor: pointer;
                            span {
                                i {
                                    padding-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
            &-form {
                padding-top: 78px;
                @include breakpoint (max-md) {
                    padding-top: 40px;
                }
                &__title {
                    padding-bottom: 13px;
                }
                &__desc {
                    padding-bottom: 30px;
                }
            }
        }
    }
    &-form {
        margin-bottom: 40px;
        @include breakpoint (max-xs){
            padding: 15px;
        }
        &__title {
            color: var(--900, #000);
            font-family: $body-font;
            font-size: 40px;
            font-style: normal;
            font-weight: 900;
            line-height: 44px;
            letter-spacing: 0.36px;
            padding-bottom: 30px;
            @include breakpoint (max-xs){
                font-size: 35px;
            }
        }
        .form-check {
            display: flex;
            align-items: center;
            gap: 8px;
            .form-check-label {
                color: var(--800, #6B7280);
                font-family: $body-font;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px; 
                letter-spacing: 0.16px;
            }
        }
    }
}