@use '../../root' as *;
@use '../../utilities' as *;

.blog4 {
    &-card {
        background: $white;
        margin-bottom: 40px;
        @include breakpoint (max-sm){
            margin-bottom: 15px;
        }
        &__thumb {
            border-radius: 20px;
            img {
                border-radius: 20px;
            }
        }
        &-content {
            &-meta {
                display: flex;
                align-items: center;
                gap: 18px;
                padding-top: 35px;
                padding-bottom: 6px;
                color: $gray2;
                font-family: $body-font;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px; 
                @include breakpoint (max-xs) {
                    flex-wrap: wrap;
                    row-gap: 10px;
                }
                img {
                    padding-right: 6px;
                }
                &__user {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                }
                &__care {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                }
                &__calendar {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                }
                &__comment {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                }
            }
            &__title{
                padding-bottom: 15px;
                h5 {
                    color: $title-color;
                    font-family: $body-font;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 38px; /* 126.667% */
                    @include breakpoint (max-sm){
                        font-size: 28px;
                    }
                }
            }
            &__desc {
                padding-right: 5px;    
                p {
                    color: $title-color;
                    font-family: $body-font;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;
                    opacity: 0.7;
                }            
            }
            &__quote {
                text-align: center;
                padding: 50px 50px;
                border-radius: 10px;
                background: #EBF3ED;
                @include breakpoint (max-xs){
                    padding: 6px 28px 50px;
                }
                img {
                    padding-bottom: 21px;
                }
                p {
                    color: #1F1F1F;
                    text-align: center;
                    font-family: Roboto;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px; 
                    padding-bottom: 32px;
                    opacity: 0.7;
                }
                h4 {
                    color: #1F1F1F;
                    font-family: Roboto;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 34px; 
                }
            }
            &-profile {
                    margin-top: 40px;
                    margin-bottom: 40px;
                &__thumb {
                    border-radius: 10px;
                    img {
                        border-radius: 10px;
                    }
                }
                &__title {
                    color: $title-color;
                    font-family: $body-font;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 34px;
                    padding-bottom: 30px;
                }
                &__desc {
                    color: $title-color;
                    font-family: $body-font;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                    opacity: 0.7;
                }
            }
            &-profile2 {
                    margin-top: 40px;
                    margin-bottom: 40px;
                    padding: 20px;
                    border-radius: 10px;
                    background: $theme-color;
                &__thumb {
                    border-radius: 10px;
                    img {
                        border-radius: 10px;
                    }
                }
                &__subtitle {
                    display: inline-flex;
                    padding: 6px 24px;
                    justify-content: center;
                    align-items: center;
                    gap: 12px;
                    color: $white;
                    font-family: $body-font;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    border-radius: 100px;
                    background: $theme-color;
                    width: max-content;
                    margin-bottom: 30px;
                }
                &__title {
                    color: $title-color;
                    font-family: $body-font;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    padding-bottom: 30px;
                }
                &__desc {
                    color: $title-color;
                    font-family: $body-font;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px; 
                    opacity: 0.7;
                    padding-bottom: 40px;
                }
                &__link {
                    color: $title-color;
                    font-family: $body-font;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }
            &__title2{
                padding-top: 48px;
                padding-bottom: 25px;
                h5 {
                    color: $title-color;
                    font-family: $body-font;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 40px; 
                }
            }
            &-thumb {
                display: flex;
                gap: 30px;
                padding-bottom: 33px;
                padding-top: 30px;

                img {
                    border-radius: 20px;
                }
            }
            &-list {
                display: flex;
                padding-top: 30px;
                padding-bottom: 30px;
                @include breakpoint (max-xxl){
                    gap: 20px;
                }
            }
            &-tagShare {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top: 1px solid rgba(38, 38, 38, 0.30);
                padding-top: 40px;
                margin-top: 35px;
    
                @include breakpoint (max-xxl) {
                    flex-direction: column;
                    align-items: start;
                    gap: 10px;
                }
                &-tags {
                    display: flex;
                    gap: 10px;
                    &__title {
                        color: $title-color;
                        font-family: $body-font;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        @include breakpoint (max-xs){
                            font-size: 22px;
                        }
                    }
                    &__name {
                        a {
                            height: 40px;
                            display: inline-flex;
                            padding: 9px 14px;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            border-radius: 4px;
                            border: 1px solid rgba(31, 31, 31, 0.14);
                            background: rgba(255, 255, 255, 0.00);
                            color: rgba(31, 31, 31, 0.70);
                            font-family: $body-font;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            &:hover {
                                background-color: $theme-color;
                                color: $white;
                            }
                        }
                    }
                }
                &-shareicon {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    &__title {
                        padding-right: 5px;
                        color: $title-color;
                        font-family: $body-font;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        @include breakpoint (max-xs){
                            font-size: 22px;
                        }
                    }
                }
            }
        }
        &-comment {
            &__title {
                padding-bottom: 30px;
                h3 {
                    color: $title-color;
                    font-family: $body-font;
                    font-size: 50px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    @include breakpoint (max-xs){
                        font-size: 35px;
                    }
                    i {
                        color: $theme-color;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        padding-right: 10px;
                    }
                }
            }
            &-profile {
                position: relative;
                display: flex;
                gap: 20px;
                padding: 0 0 0;
                border-radius: 14px;
                background: $white;
                border: 1px solid transparent;
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0px;
                }
                @include breakpoint (max-xs) {
                    flex-direction: column;
                }

                &:nth-of-type(2) {
                    padding-bottom: 35px;
                    padding-right: 17px;
                }
                &:nth-of-type(3) {
                    margin-left: 78px;
                    @include breakpoint (max-md) {
                        margin-left: 0px;
                    }
                }
                
                &__thumb {
                    border-radius: 20px;
                    img {
                        border-radius: 20px;
                        max-width: fit-content;
                    }
                }
                &-content {
                    &__author {
                        h5 {
                            color: $title-color;
                            font-family: $body-font;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 26px; /* 144.444% */
                        }
                    }
                    &__date {
                        padding-bottom: 17px;
                        p {
                            color: rgba(31, 31, 31, 0.70);
                            font-family: $body-font;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                    &__desc {
                        p {
                            color: $title-color;
                            font-family: $body-font;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 26px; /* 162.5% */
                            opacity: 0.7;
                        }
                    }
                    &__reply {
                        position: absolute;
                        top: 17%;
                        right: 17%;
                        .btn {
                            display: flex;
                            color: rgba(31, 31, 31, 0.70);
                            font-family: $body-font;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;   
                            border: 1px solid rgba(31, 31, 31, 0.10);
                            background: rgba(255, 255, 255, 0.00); 
                            &:hover {
                                background-color: $theme-color;
                                color: $white;
                            }
                            span {
                                cursor: pointer;
                                i {
                                    padding-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
            &-form {
                padding-top: 78px;
                @include breakpoint (max-md) {
                    padding-top: 40px;
                }
                &__title {
                    padding-bottom: 13px;
                }
                &__desc {
                    padding-bottom: 30px;
                }
            }
        }
    }
    &-form {
        padding: 30px 40px 40px;
        border-radius: 10px;
        background: $white;
        box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.05);
        margin-bottom: 40px;
        @include breakpoint (max-xs){
            padding: 15px;
        }
        &__title {
            padding-bottom: 14px;
            h6 {
                color: $title-color;
                font-family: $body-font;
                font-size: 50px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                @include breakpoint (max-xs){
                    font-size: 35px;
                }
                i {
                    color: $theme-color;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: normal;
                    padding-right: 10px;
                }
            }
        }
        &__desc {
            padding-bottom: 22px;
            p {
                color: $gray2;
                font-family: $body-font;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px; /* 162.5% */
            }
        }
        .form-check-label {
            color: $gray2;
            font-family: $body-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; /* 162.5% */
        }
    }
}